{"openapi":"3.0.0","servers":[{"url":"https://api.calendly.com"}],"info":{"description":"Calendly\u2019s API is [REST](http://en.wikipedia.org/wiki/Representational_State_Transfer)-based and has predictable resource-oriented URLs. It uses **JSON** for request and response bodies and standard HTTP methods, authentication, and response codes.\u003Cbr\u003E\n\n##### Authenticate with personal access tokens or OAuth 2.0\n\nTo access Calendly data through the API, you can authenticate with **personal access tokens** or **OAuth 2.0**. To learn more about these authentication methods and when and how to use them, see [Getting Started with the Calendly API](https://developer.calendly.com/getting-started).","version":"2.0.0","title":"Calendly API","contact":{"email":"support\u002Bdeveloper@calendly.com","name":"Calendly Developer Support","url":"https://developer.calendly.com/get-help"},"termsOfService":"https://calendly.com/legal/developer-policy"},"tags":[{"name":"Activity Log"},{"name":"Availability"},{"name":"Calendar Events"},{"name":"Contacts"},{"name":"Data Compliance"},{"name":"Event Types"},{"name":"Groups"},{"name":"Invitees"},{"name":"Locations"},{"name":"Notetaker"},{"name":"Organizations"},{"name":"Outgoing Communications"},{"name":"Polls"},{"name":"Routing Forms"},{"name":"Scheduled Events"},{"name":"Scheduling Links"},{"name":"Shares"},{"name":"Subscriptions"},{"name":"Super Admin Roles"},{"name":"Trials"},{"name":"Users"},{"name":"Webhooks"}],"paths":{"/recent_invitees":{"get":{"summary":"List Recent Invitees","tags":["Invitees"],"security":[{"oauth2":[]},{"personal_access_token":[]}],"parameters":[{"name":"user","in":"query","schema":{"type":"string","format":"uri"},"description":"The URI associated with the user","required":true},{"$ref":"#/components/parameters/PageToken"},{"$ref":"#/components/parameters/Count"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","description":"Service response","properties":{"collection":{"type":"array","description":"The collection of recent invitees","items":{"$ref":"#/components/schemas/RecentInvitee"}},"pagination":{"$ref":"#/components/schemas/Pagination"}},"required":["collection","pagination"]},"examples":{"Recent Invitees":{"value":{"collection":[{"email":"test@example.com","event_start_time":"2023-06-19T14:30:00.000000Z","first_name":"John","last_name":"Doe","full_name":"John Doe","timezone":"America/New_York","time_notation":"12h","locale":"en"}],"pagination":{"count":20,"next_page":"https://calendly.com/recent_invitees?count=1\u0026page_token=sNjq4TvMDfUHEl7zHRR0k0E1PCEJWvdi","previous_page":"https://calendly.com/recent_invitees?count=1\u0026page_token=VJs2rfDYeY8ahZpq0QI1O114LJkNjd7H","next_page_token":"sNjq4TvMDfUHEl7zHRR0k0E1PCEJWvdi","previous_page_token":"VJs2rfDYeY8ahZpq0QI1O114LJkNjd7H"}}}}}}},"400":{"$ref":"#/components/responses/INVALID_ARGUMENT"},"401":{"$ref":"#/components/responses/UNAUTHENTICATED"},"403":{"description":"Permission Denied","content":{"application/json":{"schema":{"type":"object","properties":{"title":{"type":"string","enum":["Permission Denied"]},"message":{"type":"string","enum":["You are not allowed to view this event"]}}},"examples":{"Caller is not the event owner":{"value":{"title":"Permission Denied","message":"You are not allowed to view this event"}},"Caller is not an organization owner/admin":{"value":{"title":"Permission Denied","message":"You are not allowed to view this event"}},"caller is not a member of the team":{"value":{"title":"Permission Denied","message":"You are not allowed to view this event"}}}}}},"404":{"$ref":"#/components/responses/NOT_FOUND"},"500":{"$ref":"#/components/responses/UNKNOWN"}},"description":"Returns a list of Invitees for an event.","operationId":"list-recent-invitees","x-fern-ignore":true}},"/scheduled_events/{uuid}/invitees":{"get":{"summary":"List Event Invitees","tags":["Scheduled Events"],"security":[{"oauth2":[]},{"personal_access_token":[]}],"parameters":[{"name":"uuid","in":"path","required":true,"schema":{"type":"string","example":"AAAAAAAAAAAAAAAA"}},{"name":"status","in":"query","schema":{"type":"string","enum":["active","canceled"]},"description":"Indicates if the invitee \u0022canceled\u0022 or still \u0022active\u0022"},{"name":"sort","in":"query","schema":{"type":"string","default":"created_at:asc"},"description":"Order results by the **created_at** field and direction specified: ascending (\u0022asc\u0022) or descending (\u0022desc\u0022)"},{"name":"email","in":"query","schema":{"type":"string","format":"email","example":"bob@example.com"},"description":"Indicates if the results should be filtered by email address"},{"$ref":"#/components/parameters/PageToken"},{"$ref":"#/components/parameters/Count"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","description":"Service response","properties":{"collection":{"type":"array","description":"The set of event invitees matching the criteria","items":{"$ref":"#/components/schemas/Invitee"}},"pagination":{"$ref":"#/components/schemas/Pagination"}},"required":["collection","pagination"]},"examples":{"Event Invitees":{"value":{"collection":[{"cancel_url":"https://calendly.com/cancellations/AAAAAAAAAAAAAAAA","created_at":"2020-11-23T17:51:18.327602Z","email":"test@example.com","event":"https://api.calendly.com/scheduled_events/AAAAAAAAAAAAAAAA","name":"John Doe","first_name":"John","last_name":"Doe","new_invitee":null,"old_invitee":null,"questions_and_answers":[{"answer":"radio button answer","position":0,"question":"Question with Radio Buttons answer type"},{"answer":"Multiple line\nAnswer","position":1,"question":"Question with Multiple Lines answer type"},{"answer":"Answer 1\nAnswer 2\nAnswer 3","position":2,"question":"Question with Checkboxes answer type"}],"reschedule_url":"https://calendly.com/reschedulings/AAAAAAAAAAAAAAAA","rescheduled":false,"status":"active","text_reminder_number":null,"timezone":"America/New_York","tracking":{"utm_campaign":null,"utm_source":null,"utm_medium":null,"utm_content":null,"utm_term":null,"salesforce_uuid":null},"updated_at":"2020-11-23T17:51:18.341657Z","uri":"https://api.calendly.com/scheduled_events/AAAAAAAAAAAAAAAA/invitees/AAAAAAAAAAAAAAAA","routing_form_submission":"https://api.calendly.com/routing_form_submissions/AAAAAAAAAAAAAAAA","payment":{"external_id":"ch_AAAAAAAAAAAAAAAA","provider":"stripe","amount":1234.56,"currency":"USD","terms":"sample terms of payment (up to 1,024 characters)","successful":true},"no_show":null,"reconfirmation":{"created_at":"2020-11-23T17:51:18.341657Z","confirmed_at":"2020-11-23T20:01:18.341657Z"},"scheduling_method":null,"invitee_scheduled_by":null}],"pagination":{"count":20,"next_page":"https://calendly.com/scheduled_events/AAAAAAAAAAAAAAAA/invitees?count=1\u0026page_token=sNjq4TvMDfUHEl7zHRR0k0E1PCEJWvdi","previous_page":"https://calendly.com/scheduled_events/AAAAAAAAAAAAAAAA/invitees?count=1\u0026page_token=VJs2rfDYeY8ahZpq0QI1O114LJkNjd7H","next_page_token":"sNjq4TvMDfUHEl7zHRR0k0E1PCEJWvdi","previous_page_token":"VJs2rfDYeY8ahZpq0QI1O114LJkNjd7H"}}}}}}},"400":{"$ref":"#/components/responses/INVALID_ARGUMENT"},"401":{"$ref":"#/components/responses/UNAUTHENTICATED"},"403":{"$ref":"#/components/responses/GET_INVITEES_AND_SCOPES_FORBIDDEN"},"404":{"$ref":"#/components/responses/NOT_FOUND"},"500":{"$ref":"#/components/responses/UNKNOWN"}},"description":"Returns a list of Invitees for an event.\n\n\u003CInfo title=\u0022Required scopes\u0022\u003E\n\u003E \u0060scheduled_events:read\u0060\n\u003C/Info\u003E","operationId":"list-event-invitees"}},"/scheduled_events":{"get":{"summary":"List Events","description":"Returns a list of  Events.\n\n* Pass \u0060organization\u0060 parameter to return events for that organization (requires admin/owner privilege)\n* Pass \u0060user\u0060 parameter to return events for a specific User\n* Pass \u0060group\u0060 parameter to return events for a specific Group (requires organization admin/owner or group admin privilege)\n\n**NOTES:**\n* If you are the admin/owner of the organization, you can use both \u0060organization\u0060 and \u0060user\u0060 to get a list of events for a specific user within your organization.\n* If you are the admin/owner of the organization, you can use both \u0060organization\u0060 and \u0060group\u0060 to get a list of events for a specific group within your organization.\n\n* \u0060user\u0060 can only be used alone when requesting your own personal events. This will return your events within any organization that you are currently in or were a part of in the past.\n\n\u003CInfo title=\u0022Required scopes\u0022\u003E\n\u003E \u0060scheduled_events:read\u0060\n\u003C/Info\u003E","tags":["Scheduled Events"],"security":[{"oauth2":[]},{"personal_access_token":[]}],"parameters":[{"name":"user","in":"query","schema":{"type":"string","format":"uri","example":"https://api.calendly.com/users/AAAAAAAAAAAAAAAA"},"description":"Return events that are scheduled with the user associated with this URI"},{"schema":{"type":"string","format":"uri","example":"https://api.calendly.com/organizations/AAAAAAAAAAAAAAAA"},"in":"query","name":"organization","description":"Return events that are scheduled with the organization associated with this URI"},{"name":"invitee_email","in":"query","schema":{"type":"string","format":"email","example":"alice@example.com"},"description":"Return events that are scheduled with the invitee associated with this email address"},{"name":"status","in":"query","schema":{"type":"string","enum":["active","canceled"]},"description":"Whether the scheduled event is \u0060active\u0060 or \u0060canceled\u0060"},{"name":"sort","in":"query","schema":{"type":"string"},"description":"Order results by the specified field and direction. Accepts comma-separated list of {field}:{direction} values.\nSupported fields are: start_time.\nSort direction is specified as: asc, desc.","example":"start_time:asc"},{"name":"min_start_time","in":"query","schema":{"type":"string","format":"date-time"},"description":"Include events with start times after this time (sample time format: \u00222020-01-02T03:04:05.678123Z\u0022). This time should use the UTC timezone.","example":"2020-01-02T12:30:00.000000Z"},{"name":"max_start_time","in":"query","schema":{"type":"string","format":"date-time"},"description":"Include events with start times prior to this time (sample time format: \u00222020-01-02T03:04:05.678123Z\u0022). This time should use the UTC timezone.","example":"2020-01-02T12:30:00.000000Z"},{"$ref":"#/components/parameters/PageToken"},{"$ref":"#/components/parameters/Count"},{"schema":{"type":"string","format":"uri","example":"https://api.calendly.com/groups/AAAAAAAAAAAAAAAA"},"in":"query","name":"group","description":"Return events that are scheduled with the group associated with this URI"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","description":"Service response","required":["collection","pagination"],"properties":{"collection":{"type":"array","description":"The set of scheduled events matching the criteria","items":{"$ref":"#/components/schemas/Event"}},"pagination":{"$ref":"#/components/schemas/Pagination"}}},"examples":{"Scheduled events":{"value":{"collection":[{"uri":"https://api.calendly.com/scheduled_events/AAAAAAAAAAAAAAAA","name":"15 Minute Meeting","meeting_notes_plain":"Internal meeting notes","meeting_notes_html":"\u003Cp\u003EInternal meeting notes\u003C/p\u003E","status":"active","start_time":"2019-08-24T14:15:22.123456Z","end_time":"2019-08-24T14:15:22.123456Z","event_type":"https://api.calendly.com/event_types/AAAAAAAAAAAAAAAA","location":{"type":"physical","location":"Calendly Office","additional_info":"Please check in at the main lobby."},"invitees_counter":{"total":0,"active":0,"limit":0},"created_at":"2019-01-02T03:04:05.092125Z","updated_at":"2019-01-02T03:04:05.092125Z","event_memberships":[{"user":"https://api.calendly.com/users/AAAAAAAAAAAAAAAA","user_email":"user@example.com","user_name":"John Smith","buffered_end_time":"2019-08-24T14:15:22.123456Z","buffered_start_time":"2019-08-24T14:15:22.123456Z"}],"event_guests":[{"email":"user@example.com","created_at":"2022-04-21T17:10:48.484945Z","updated_at":"2022-04-21T17:11:01.758636Z"}],"calendar_event":{"kind":"google","external_id":"8suu9k3hj00mni03ss12ba0ce0"}}],"pagination":{"count":20,"next_page":"https://api.calendly.com/scheduled_events?count=1\u0026page_token=sNjq4TvMDfUHEl7zHRR0k0E1PCEJWvdi","previous_page":"https://api.calendly.com/scheduled_events?count=1\u0026page_token=VJs2rfDYeY8ahZpq0QI1O114LJkNjd7H","next_page_token":"sNjq4TvMDfUHEl7zHRR0k0E1PCEJWvdi","previous_page_token":"VJs2rfDYeY8ahZpq0QI1O114LJkNjd7H"}}}}}}},"400":{"$ref":"#/components/responses/INVALID_ARGUMENT"},"401":{"$ref":"#/components/responses/UNAUTHENTICATED"},"403":{"$ref":"#/components/responses/GET_SCHEDULED_EVENTS_AND_SCOPES_FORBIDDEN"},"404":{"$ref":"#/components/responses/NOT_FOUND"},"500":{"$ref":"#/components/responses/UNKNOWN"}},"operationId":"list-scheduled-events"},"parameters":[]},"/event_types":{"get":{"summary":"List User\u0027s Event Types","description":"Returns all Event Types associated with a specified User. Use:\n\n* \u0060organization\u0060 to look up all Event Types that belong to the organization\n\n* \u0060user\u0060 to look up a user\u0027s Event Types in an organization\n\nEither \u0060organization\u0060 or \u0060user\u0060 are required query params when using this endpoint.\n\n\u003CInfo title=\u0022Required scopes\u0022\u003E\n\u003E \u0060event_types:read\u0060\n\u003C/Info\u003E","tags":["Event Types"],"security":[{"oauth2":[]},{"personal_access_token":[]}],"parameters":[{"name":"active","description":"Return only active event types if true, only inactive if false, or all event types if this parameter is omitted.","in":"query","schema":{"type":"boolean"}},{"name":"organization","description":"View available personal, team, and organization event types associated with the organization\u0027s URI.","in":"query","schema":{"type":"string","format":"uri"},"required":false},{"name":"user","description":"View available personal, team, and organization event types associated with the user\u0027s URI.","in":"query","schema":{"type":"string","format":"uri"},"required":false},{"name":"user_availability_schedule","description":"Used in conjunction with \u0060user\u0060 parameter, returns a filtered list of Event Types that use the given primary availability schedule.","in":"query","schema":{"type":"string","format":"uri"},"required":false},{"name":"sort","in":"query","schema":{"type":"string","default":"name:asc"},"description":"Order results by the specified field and direction. Accepts comma-separated list of {field}:{direction} values.Supported fields are: name, position, created_at, updated_at. Sort direction is specified as: asc, desc.","examples":{"default":{"summary":"Sort by name ascending","value":"name:asc"},"withOmittedDirection":{"summary":"Omit direction with fallback to asc by default","value":"name"}}},{"name":"admin_managed","description":"Return only admin managed event types if true, exclude admin managed event types if false, or include all event types if this parameter is omitted.","in":"query","schema":{"type":"boolean"},"required":false},{"$ref":"#/components/parameters/PageToken"},{"$ref":"#/components/parameters/Count"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","description":"Service response","properties":{"collection":{"type":"array","items":{"$ref":"#/components/schemas/EventType"}},"pagination":{"$ref":"#/components/schemas/Pagination"}},"required":["collection","pagination"]},"examples":{"Event types":{"value":{"collection":[{"uri":"https://api.calendly.com/event_types/AAAAAAAAAAAAAAAA","name":"15 Minute Meeting","active":true,"booking_method":"instant","slug":"acmesales","scheduling_url":"https://calendly.com/acmesales","duration":15,"duration_options":[1,13,15,720],"kind":"solo","pooling_type":"round_robin","type":"StandardEventType","color":"#fff200","created_at":"2019-01-02T03:04:05.678123Z","updated_at":"2019-08-07T06:05:04.321123Z","internal_note":"Internal note","is_paid":false,"description_plain":"15 Minute Meeting","description_html":"\u003Cp\u003E15 Minute Meeting\u003C/p\u003E","profile":{"type":"User","name":"Tamara Jones","owner":"https://api.calendly.com/users/AAAAAAAAAAAAAAAA"},"secret":true,"deleted_at":null,"admin_managed":false,"locations":[{"kind":"inbound_call","phone_number":"\u002B 380934567654","additional_info":"Additional information about location"}],"position":0,"custom_questions":[{"name":"Company Name","type":"string","position":0,"enabled":true,"required":true,"answer_choices":[],"include_other":false},{"name":"What would you like to discuss?","type":"text","position":0,"enabled":true,"required":true,"answer_choices":[],"include_other":false},{"name":"Number of employees","answer_choices":["1","2-10","11-20","20\u002B"],"enabled":true,"include_other":true,"position":2,"required":false,"type":"single_select"},{"name":"Multi-Select Question","answer_choices":["Answer 1","Answer 2","Answer 3","Answer 4"],"enabled":true,"include_other":true,"position":2,"required":false,"type":"multi_select"},{"name":"Phone Number","type":"phone_number","position":0,"enabled":true,"required":true,"answer_choices":[],"include_other":false}],"locale":"en"}],"pagination":{"count":20,"next_page":"https://api.calendly.com/event_types?count=1\u0026page_token=sNjq4TvMDfUHEl7zHRR0k0E1PCEJWvdi","previous_page":"https://api.calendly.com/event_types?count=1\u0026page_token=VJs2rfDYeY8ahZpq0QI1O114LJkNjd7H","next_page_token":"sNjq4TvMDfUHEl7zHRR0k0E1PCEJWvdi","previous_page_token":"VJs2rfDYeY8ahZpq0QI1O114LJkNjd7H"}}}}}}},"400":{"$ref":"#/components/responses/INVALID_ARGUMENT"},"401":{"$ref":"#/components/responses/UNAUTHENTICATED"},"403":{"$ref":"#/components/responses/EVENT_TYPES_AND_SCOPES_FORBIDDEN"},"404":{"$ref":"#/components/responses/NOT_FOUND"},"500":{"$ref":"#/components/responses/UNKNOWN"}},"operationId":"list-event-types"},"post":{"summary":"Create Event Type","description":"Create a new Event Type\n\n**NOTE:**\n* Currently, this endpoint only supports one-on-one event types (kind: \u0022solo\u0022).\n\n\u003CInfo title=\u0022Required scopes\u0022\u003E\n\u003E \u0060event_types:write\u0060\n\u003C/Info\u003E","tags":["Event Types"],"security":[{"oauth2":[]},{"personal_access_token":[]}],"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"type":"object","properties":{"resource":{"$ref":"#/components/schemas/EventType"}},"required":["resource"]}}}},"400":{"$ref":"#/components/responses/INVALID_ARGUMENT"},"401":{"$ref":"#/components/responses/UNAUTHENTICATED"},"403":{"$ref":"#/components/responses/PERMISSION_DENIED_AND_SCOPES_FORBIDDEN"},"404":{"$ref":"#/components/responses/NOT_FOUND"},"500":{"$ref":"#/components/responses/UNKNOWN"}},"operationId":"create-event-type","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["owner","name"],"properties":{"active":{"type":"boolean","description":"Indicates if the event type is active or not","default":false},"owner":{"type":"string","description":"The owner for this event type","format":"uri","example":"https://api.calendly.com/users/AAAAAAAAAAAAAAAA"},"name":{"type":"string","description":"The event type name","example":"15 Minute Meeting"},"description":{"type":"string","description":"The event type description","example":"15 Minute Meeting"},"duration":{"type":"integer","description":"The length of sessions booked with this event type. Must be one of the duration options if they\u0027re provided.","example":15,"minimum":1,"maximum":720},"duration_options":{"type":"array","example":[1,13,15,720],"description":"A maximum of 4 unique options is allowed. Each option must be \u003E= 1 and \u003C= 720.","items":{"type":"integer"}},"locations":{"type":"array","description":"Configuration information for each possible location for this event type","items":{"$ref":"#/components/schemas/LocationConfiguration"}},"color":{"type":"string","description":"The hexadecimal color value of the event type\u0027s scheduling page","pattern":"^#[a-f\\d]{6}$","example":"#fff200"},"locale":{"type":"string","enum":["de","en","es","fr","it","nl","pt","uk"],"example":"de","description":"The locale on the event type, used to determine the language of the event type\u0027s scheduling page"}}}}}}},"parameters":[]},"/users/{uuid}":{"get":{"summary":"Get user","tags":["Users"],"security":[{"oauth2":[]},{"personal_access_token":[]}],"parameters":[{"name":"uuid","in":"path","description":"User unique identifier, or the constant \u0022me\u0022 to reference the caller","required":true,"schema":{"type":"string","example":"AAAAAAAAAAAAAAAA"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","description":"Service response","properties":{"resource":{"$ref":"#/components/schemas/User"}},"required":["resource"]},"examples":{"User":{"value":{"resource":{"uri":"https://api.calendly.com/users/AAAAAAAAAAAAAAAA","name":"John Doe","slug":"acmesales","email":"test@example.com","scheduling_url":"https://calendly.com/acmesales","timezone":"America/New York","time_notation":"12h","avatar_url":"https://01234567890.cloudfront.net/uploads/user/avatar/0123456/a1b2c3d4.png","created_at":"2019-01-02T03:04:05.678123Z","updated_at":"2019-08-07T06:05:04.321123Z","current_organization":"https://api.calendly.com/organizations/AAAAAAAAAAAAAAAA","resource_type":"User","locale":"en"}}}}}}},"401":{"$ref":"#/components/responses/UNAUTHENTICATED"},"403":{"$ref":"#/components/responses/PERMISSION_DENIED_AND_SCOPES_FORBIDDEN"},"404":{"$ref":"#/components/responses/NOT_FOUND"},"500":{"$ref":"#/components/responses/UNKNOWN"}},"description":"Returns information about a specified User.\n\n\u003CInfo title=\u0022Required scopes\u0022\u003E\n\u003E \u0060users:read\u0060\n\u003C/Info\u003E","operationId":"get-user"}},"/users/me":{"get":{"summary":"Get current user","tags":["Users"],"security":[{"oauth2":[]},{"personal_access_token":[]}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","description":"Service response","properties":{"resource":{"$ref":"#/components/schemas/User"}},"required":["resource"]},"examples":{"User":{"value":{"resource":{"uri":"https://api.calendly.com/users/AAAAAAAAAAAAAAAA","name":"John Doe","slug":"acmesales","email":"user@example.com","scheduling_url":"https://calendly.com/acmesales","timezone":"America/New York","time_notation":"12h","avatar_url":"https://01234567890.cloudfront.net/uploads/user/avatar/0123456/a1b2c3d4.png","created_at":"2019-01-02T03:04:05.678123Z","updated_at":"2019-08-07T06:05:04.321123Z","current_organization":"https://api.calendly.com/organizations/AAAAAAAAAAAAAAAA","resource_type":"User","locale":"en"}}}}}}},"401":{"$ref":"#/components/responses/UNAUTHENTICATED"},"403":{"$ref":"#/components/responses/PERMISSION_DENIED_AND_SCOPES_FORBIDDEN"},"404":{"$ref":"#/components/responses/NOT_FOUND"},"500":{"$ref":"#/components/responses/UNKNOWN"}},"description":"Returns basic information about your user account.\n\n\u003CInfo title=\u0022Required scopes\u0022\u003E\n\u003E \u0060users:read\u0060\n\u003C/Info\u003E","operationId":"get-current-user"}},"/users/me/deletion":{"post":{"summary":"Delete current user","operationId":"delete-current-user","responses":{"204":{"description":"No Content"},"400":{"$ref":"#/components/responses/INVALID_ARGUMENT"},"401":{"$ref":"#/components/responses/UNAUTHENTICATED"},"403":{"$ref":"#/components/responses/PERMISSION_DENIED"},"500":{"$ref":"#/components/responses/UNKNOWN"}},"description":"Deletes the current user and all associated data.\n\n\u003CWarning title=\u0022Danger zone\u0022\u003E\n\u003E This operation is irreversible, so take care. This will go into effect immediately, and the user will no longer have access to their account data.\n\n\u003E If the user is the owner of their organization, the organization will be disbanded. All teams will be deleted and all members will be separated.\n\n\u003E We will also delete any information that Calendly has stored with third-party vendors. [Learn more](https://calendly.com/help/how-does-calendly-help-customers-with-data-subject-rights)\n\u003C/Warning\u003E\n\nIf the user is part of an organization with SCIM enabled, this operation is not allowed.","security":[{"oauth2":[]},{"personal_access_token":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"reason":{"type":"string","example":"Other","description":"A reason for why the user is being deleted."},"message":{"type":"string","example":"This is a duplicate account","description":"A longer description to provide any additional context as to why the user is being deleted."}},"required":["reason"]},"examples":{"Delete user request":{"value":{"reason":"Other","message":"This is a duplicate account"}}}},"application/javascript":{"schema":{"type":"object","properties":{"reason":{"type":"string","example":"Other"},"message":{"type":"string","example":"GDPR Data Deletion Request"}}}}},"description":"Provide a reason and an optional message with any additional information about why the user is being deleted."},"tags":["Users"],"x-fern-ignore":true}},"/scheduled_events/{event_uuid}/invitees/{invitee_uuid}":{"parameters":[{"schema":{"type":"string","example":"AAAAAAAAAAAAAAAA"},"name":"event_uuid","in":"path","required":true,"description":"The event\u0027s unique identifier"},{"schema":{"type":"string","example":"BBBBBBBBBBBBBBBB"},"name":"invitee_uuid","in":"path","required":true,"description":"The invitee\u0027s unique identifier"}],"get":{"summary":"Get Event Invitee","tags":["Scheduled Events"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"resource":{"$ref":"#/components/schemas/Invitee"}},"required":["resource"]},"examples":{"Invitee":{"value":{"resource":{"cancel_url":"https://calendly.com/cancellations/AAAAAAAAAAAAAAAA","created_at":"2022-04-21T17:11:43.092010Z","email":"email@example.com","rescheduled":false,"reschedule_url":"https://calendly.com/reschedulings/AAAAAAAAAAAAAAAA","event":"https://api.calendly.com/scheduled_events/AAAAAAAAAAAAAAAA","name":"John Doe","first_name":null,"last_name":null,"new_invitee":null,"old_invitee":null,"status":"active","text_reminder_number":null,"timezone":"America/New_York","tracking":{"utm_campaign":null,"utm_source":null,"utm_medium":null,"utm_content":null,"utm_term":null,"salesforce_uuid":null},"updated_at":"2020-01-01T20:30:00.000000Z","uri":"https://api.calendly.com/api/v2/scheduled_events/AAAAAAAAAAAAAAAA/invitees/AAAAAAAAAAAAAAAA","questions_and_answers":[{"answer":"radio button answer","position":0,"question":"Question with Radio Buttons answer type"},{"answer":"Multiple line\nAnswer","position":1,"question":"Question with Multiple Lines answer type"},{"answer":"Answer 1\nAnswer 2\nAnswer 3","position":2,"question":"Question with Checkboxes answer type"}],"routing_form_submission":"https://api.calendly.com/routing_form_submissions/AAAAAAAAAAAAAAAA","payment":{"external_id":"ch_AAAAAAAAAAAAAAAA","provider":"stripe","amount":1234.56,"currency":"USD","terms":"sample terms of payment (up to 1,024 characters)","successful":true},"no_show":null,"reconfirmation":{"created_at":"2020-11-23T17:51:18.341657Z","confirmed_at":"2020-11-23T20:01:18.341657Z"},"scheduling_method":null,"invitee_scheduled_by":null}}},"Canceled Invitee":{"value":{"resource":{"cancel_url":"https://calendly.com/cancellations/AAAAAAAAAAAAAAAA","created_at":"2020-11-23T17:51:18.327602Z","email":"test@example.com","event":"https://api.calendly.com/scheduled_events/AAAAAAAAAAAAAAAA","name":"John Doe","first_name":null,"last_name":null,"new_invitee":null,"old_invitee":null,"questions_and_answers":[],"reschedule_url":"https://calendly.com/reschedulings/AAAAAAAAAAAAAAAA","rescheduled":false,"status":"canceled","text_reminder_number":null,"timezone":"America/New_York","tracking":{"utm_campaign":null,"utm_source":null,"utm_medium":null,"utm_content":null,"utm_term":null,"salesforce_uuid":null},"updated_at":"2020-11-23T17:54:22.356897Z","uri":"https://api.calendly.com/scheduled_events/AAAAAAAAAAAAAAAA/invitees/AAAAAAAAAAAAAAAA","cancellation":{"canceled_by":"John Doe","reason":"Meeting Conflict","canceler_type":"invitee","created_at":"2020-11-23T17:54:22.356897Z"},"routing_form_submission":"https://api.calendly.com/routing_form_submissions/AAAAAAAAAAAAAAAA","payment":{"external_id":"ch_AAAAAAAAAAAAAAAA","provider":"stripe","amount":1234.56,"currency":"USD","terms":"sample terms of payment (up to 1,024 characters)","successful":true},"no_show":null,"reconfirmation":null,"scheduling_method":null,"invitee_scheduled_by":null}}}}}}},"400":{"$ref":"#/components/responses/INVALID_ARGUMENT"},"401":{"$ref":"#/components/responses/UNAUTHENTICATED"},"403":{"$ref":"#/components/responses/GET_INVITEE_AND_SCOPES_FORBIDDEN"},"404":{"$ref":"#/components/responses/NOT_FOUND"},"500":{"$ref":"#/components/responses/UNKNOWN"}},"operationId":"get-scheduled-event-invitees","security":[{"oauth2":[]},{"personal_access_token":[]}],"description":"Returns information about a specified Invitee (person invited to an event).\n\n\u003CInfo title=\u0022Required scopes\u0022\u003E\n\u003E \u0060scheduled_events:read\u0060\n\u003C/Info\u003E"}},"/invitees":{"post":{"summary":"Create Event Invitee (Scheduling API)","tags":["Scheduled Events"],"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"type":"object","required":["resource"],"properties":{"resource":{"$ref":"#/components/schemas/Invitee"}}}}}},"400":{"description":"Request is not valid","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/ErrorResponse"},{"type":"object","properties":{"title":{"type":"string","enum":["Invalid Argument","Deprecated"]},"message":{"type":"string","enum":["The supplied parameters are invalid.","Specified location kind is not configured for this event type.","Required Questions and Answers cannot be blank.","Event types that require payment cannot be scheduled via the API."]}}}]}}}},"401":{"$ref":"#/components/responses/UNAUTHENTICATED"},"403":{"$ref":"#/components/responses/POST_INVITEES_AND_SCOPES_FORBIDDEN"},"404":{"$ref":"#/components/responses/NOT_FOUND"},"500":{"$ref":"#/components/responses/UNKNOWN"}},"operationId":"post-invitee","description":"Creates a new booking for an event invitee. Use this endpoint to book an invitee directly from your app without redirects, iframes, or Calendly-hosted UI.\n\nStandard notifications, calendar invites, reschedules, and workflows run as if booked via the Calendly UI.\n\n**NOTE:**\n* Access to this endpoint is limited to Calendly users on paid plans (Standard and above). Users on the Free plan will receive a 403 Forbidden response.\n\n\u003CInfo title=\u0022Required scopes\u0022\u003E\n\u003E \u0060scheduled_events:write\u0060\n\u003C/Info\u003E","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["event_type","start_time","invitee"],"properties":{"event_type":{"type":"string","format":"uri","description":"Canonical reference (unique identifier) for the event type being scheduled ","example":"https://api.calendly.com/event_types/AAAAAAAAAAAAAAAA"},"start_time":{"type":"string","format":"date-time","description":"The start time in UTC of the scheduled event","example":"2019-08-07T06:05:04.321123Z"},"invitee":{"type":"object","required":["email","timezone"],"properties":{"name":{"type":"string","description":"The full name of the invitee. **Required if** \u0060first_name\u0060 **is not provided**","example":"John Smith"},"first_name":{"type":"string","description":"The first name of the invitee. **Required if** \u0060name\u0060 **is not provided**","example":"John"},"last_name":{"type":"string","description":"The last name of the invitee","example":"Smith"},"email":{"type":"string","description":"The email of the invitee","example":"test@example.com"},"timezone":{"type":"string","description":"The timezone of the invitee","example":"America/New_York"},"text_reminder_number":{"type":"string","description":"Invitee\u0027s phone number for SMS reminders. Must be a valid phone number (e.g. \u002B14155551234)","example":"\u002B1 888-888-8888"}}},"location":{"$ref":"#/components/schemas/InviteeLocation"},"questions_and_answers":{"type":"array","items":{"$ref":"#/components/schemas/InviteeQuestionAndAnswer"}},"tracking":{"$ref":"#/components/schemas/InviteeTracking"},"event_guests":{"type":"array","description":"Emails of invitee guests. Max 10.","maxItems":10,"items":{"type":"string","format":"email","example":"janedoe@calendly.com"}}}}}}},"security":[{"oauth2":[]},{"personal_access_token":[]}]}},"/scheduled_events/{uuid}":{"parameters":[{"schema":{"type":"string","example":"AAAAAAAAAAAAAAAA"},"name":"uuid","in":"path","required":true,"description":"The event\u0027s unique identifier"}],"get":{"summary":"Get Event","tags":["Scheduled Events"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"resource":{"$ref":"#/components/schemas/Event"}},"required":["resource"]},"examples":{"Scheduled event":{"value":{"resource":{"uri":"https://api.calendly.com/scheduled_events/AAAAAAAAAAAAAAAA","name":"15 Minute Meeting","meeting_notes_plain":"Internal meeting notes","meeting_notes_html":"\u003Cp\u003EInternal meeting notes\u003C/p\u003E","status":"active","booking_method":"instant","start_time":"2019-08-24T14:15:22.000000Z","end_time":"2019-08-24T14:15:22.000000Z","event_type":"https://api.calendly.com/event_types/AAAAAAAAAAAAAAAA","location":{"type":"physical","location":"Calendly Office","additional_info":"Please check in at the main lobby."},"invitees_counter":{"total":0,"active":0,"limit":0},"created_at":"2019-01-02T03:04:05.678123Z","updated_at":"2019-01-02T03:04:05.678123Z","event_memberships":[{"user":"https://api.calendly.com/users/AAAAAAAAAAAAAAAA","user_email":"user@example.com","user_name":"John Smith","buffered_end_time":"2019-08-24T14:15:22.000000Z","buffered_start_time":"2019-08-24T14:15:22.000000Z"}],"event_guests":[{"email":"user@example.com","created_at":"2019-08-24T14:15:22.123456Z","updated_at":"2019-08-24T14:15:22.123456Z"}],"calendar_event":{"kind":"google","external_id":"8suu9k3hj00mni03ss12ba0ce0"}}}}}}}},"401":{"$ref":"#/components/responses/UNAUTHENTICATED"},"403":{"$ref":"#/components/responses/GET_INVITEES_AND_SCOPES_FORBIDDEN"},"404":{"$ref":"#/components/responses/NOT_FOUND"},"500":{"$ref":"#/components/responses/UNKNOWN"}},"operationId":"get-scheduled-event","security":[{"oauth2":[]},{"personal_access_token":[]}],"description":"Returns information about a specified Event.\n\n\u003CInfo title=\u0022Required scopes\u0022\u003E\n\u003E \u0060scheduled_events:read\u0060\n\u003C/Info\u003E"}},"/event_types/{uuid}":{"parameters":[{"schema":{"type":"string","example":"AAAAAAAAAAAAAAAA"},"name":"uuid","in":"path","required":true}],"get":{"summary":"Get Event Type","tags":["Event Types"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"resource":{"$ref":"#/components/schemas/EventType"}},"required":["resource"]},"examples":{"Event Type":{"value":{"resource":{"uri":"https://api.calendly.com/event_types/AAAAAAAAAAAAAAAA","name":"15 Minute Meeting","active":true,"booking_method":"instant","slug":"acmesales","scheduling_url":"https://calendly.com/acmesales","duration":15,"duration_options":[1,13,15,720],"kind":"solo","pooling_type":"round_robin","type":"StandardEventType","color":"#fff200","created_at":"2019-01-02T03:04:05.678123Z","updated_at":"2019-08-07T06:05:04.321123Z","internal_note":"Internal note","is_paid":false,"description_plain":"15 Minute Meeting","description_html":"\u003Cp\u003E15 Minute Meeting\u003C/p\u003E","profile":{"type":"User","name":"Tamara Jones","owner":"https://api.calendly.com/users/AAAAAAAAAAAAAAAA"},"secret":true,"deleted_at":null,"admin_managed":false,"locations":[{"kind":"inbound_call","phone_number":"\u002B 380934567654","additional_info":"Additional information about location"}],"position":0,"custom_questions":[{"name":"Company Name","type":"string","position":0,"enabled":true,"required":true,"answer_choices":[],"include_other":false},{"name":"What would you like to discuss?","type":"text","position":0,"enabled":true,"required":true,"answer_choices":[],"include_other":false},{"name":"Number of employees","answer_choices":["1","2-10","11-20","20\u002B"],"enabled":true,"include_other":true,"position":2,"required":false,"type":"single_select"},{"name":"Multi-Select Question","answer_choices":["Answer 1","Answer 2","Answer 3","Answer 4"],"enabled":true,"include_other":true,"position":2,"required":false,"type":"multi_select"},{"name":"Phone Number","type":"phone_number","position":0,"enabled":true,"required":true,"answer_choices":[],"include_other":false}],"locale":"en"}}}}}}},"400":{"$ref":"#/components/responses/INVALID_ARGUMENT"},"401":{"$ref":"#/components/responses/UNAUTHENTICATED"},"403":{"$ref":"#/components/responses/PERMISSION_DENIED_AND_SCOPES_FORBIDDEN"},"404":{"$ref":"#/components/responses/NOT_FOUND"},"500":{"$ref":"#/components/responses/UNKNOWN"}},"operationId":"get-event-type","security":[{"oauth2":[]},{"personal_access_token":[]}],"description":"Returns information about a specified Event Type.\n\n\u003CInfo title=\u0022Required scopes\u0022\u003E\n\u003E \u0060event_types:read\u0060\n\u003C/Info\u003E"},"patch":{"summary":"Update Event Type","description":"Update an existing Event Type\n\n**NOTE:**\n* Currently, this endpoint only supports one-on-one event types (kind: \u0022solo\u0022).\n\n\u003CInfo title=\u0022Required scopes\u0022\u003E\n\u003E \u0060event_types:write\u0060\n\u003C/Info\u003E","tags":["Event Types"],"security":[{"oauth2":[]},{"personal_access_token":[]}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"resource":{"$ref":"#/components/schemas/EventType"}},"required":["resource"]}}}},"400":{"$ref":"#/components/responses/INVALID_ARGUMENT"},"401":{"$ref":"#/components/responses/UNAUTHENTICATED"},"403":{"$ref":"#/components/responses/PERMISSION_DENIED_AND_SCOPES_FORBIDDEN"},"404":{"$ref":"#/components/responses/NOT_FOUND"},"500":{"$ref":"#/components/responses/UNKNOWN"}},"operationId":"update-event-type","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"active":{"type":"boolean","description":"Indicates if the event type is active or not"},"name":{"type":"string","description":"The event type name","example":"15 Minute Meeting"},"color":{"description":"The hexadecimal color value of the event type\u0027s scheduling page","type":"string","pattern":"^#[a-f\\d]{6}$","example":"#fff200"},"description":{"type":"string","description":"The event type description","example":"15 Minute Meeting"},"duration":{"type":"integer","description":"The length of sessions booked with this event type. Must be one of the duration options if they\u0027re provided.","example":15,"minimum":1,"maximum":720},"duration_options":{"type":"array","items":{"type":"integer"},"example":[1,13,15,720],"description":"A maximum of 4 unique options is allowed. Each option must be \u003E= 1 and \u003C= 720."},"locale":{"type":"string","enum":["de","en","es","fr","it","nl","pt","uk"],"example":"de","description":"The locale on the event type, used to determine the language of the event type\u0027s scheduling page"},"locations":{"type":"array","description":"Configuration information for each possible location for this Event Type","items":{"$ref":"#/components/schemas/LocationConfiguration"}}}}}}}}},"/organizations/{uuid}/invitations":{"parameters":[{"schema":{"type":"string","example":"AAAAAAAAAAAAAAAA"},"name":"uuid","in":"path","required":true,"description":"The organization\u0027s unique identifier"}],"get":{"summary":"List Organization Invitations","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"collection":{"type":"array","items":{"$ref":"#/components/schemas/OrganizationInvitation"}},"pagination":{"$ref":"#/components/schemas/Pagination"}},"required":["collection","pagination"]},"examples":{"Organization Invitations":{"value":{"collection":[{"uri":"https://api.calendly.com/organizations/AAAAAAAAAAAAAAAA/invitations/BBBBBBBBBBBBBBBB","organization":"https://api.calendly.com/organizations/AAAAAAAAAAAAAAAA","email":"test@example.com","status":"accepted","created_at":"2019-08-07T06:05:04.321123Z","updated_at":"2019-01-02T03:04:05.678123Z","last_sent_at":"2019-01-02T03:04:05.678123Z","user":"https://api.calendly.com/users/AAAAAAAAAAAAAAAA"}],"pagination":{"count":20,"next_page":"https://api.calendly.com/organizations/AAAAAAAAAAAAAAAA/invitations?count=1\u0026page_token=sNjq4TvMDfUHEl7zHRR0k0E1PCEJWvdi","previous_page":"https://api.calendly.com/organizations/AAAAAAAAAAAAAAAA/invitations?count=1\u0026page_token=VJs2rfDYeY8ahZpq0QI1O114LJkNjd7H","next_page_token":"sNjq4TvMDfUHEl7zHRR0k0E1PCEJWvdi","previous_page_token":"VJs2rfDYeY8ahZpq0QI1O114LJkNjd7H"}}}}}}},"400":{"$ref":"#/components/responses/INVALID_ARGUMENT"},"401":{"$ref":"#/components/responses/UNAUTHENTICATED"},"403":{"$ref":"#/components/responses/PERMISSION_DENIED_AND_SCOPES_FORBIDDEN"},"404":{"$ref":"#/components/responses/NOT_FOUND"},"500":{"$ref":"#/components/responses/UNKNOWN"}},"operationId":"list-organization-invitations","description":"Returns a list of Organization Invitations that were sent to the organization\u0027s members.\n\n\u003CInfo title=\u0022Required scopes\u0022\u003E\n\u003E \u0060organizations:read\u0060\n\u003C/Info\u003E","security":[{"oauth2":[]},{"personal_access_token":[]}],"parameters":[{"$ref":"#/components/parameters/Count"},{"$ref":"#/components/parameters/PageToken"},{"schema":{"type":"string","default":"created_at:asc"},"in":"query","name":"sort","description":"Order results by the field name and direction specified (ascending or descending). Returns multiple sets of results in a comma-separated list."},{"schema":{"type":"string","format":"email","example":"bob@example.com"},"in":"query","name":"email","description":"Indicates if the results should be filtered by email address"},{"schema":{"type":"string","enum":["pending","accepted","declined"]},"in":"query","name":"status","description":"Indicates if the results should be filtered by status  (\u0022pending\u0022, \u0022accepted\u0022, or \u0022declined\u0022)"}],"tags":["Organizations"]},"post":{"summary":"Invite User to Organization","responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"type":"object","properties":{"resource":{"$ref":"#/components/schemas/OrganizationInvitation"}},"required":["resource"]},"examples":{"Invite user request":{"value":{"resource":{"created_at":"2020-01-01T20:30:00.000000Z","email":"alice@example.com","last_sent_at":"2020-01-01T20:30:00.123456Z","organization":"https://api.calendly.com/organizations/AAAAAAAAAAAAAAAA","status":"pending","updated_at":"2020-01-01T20:30:00.000000Z","uri":"https://api.calendly.com/organizations/AAAAAAAAAAAAAAAA/invitations/BBBBBBBBBBBBBBBB"}}}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"Email is Invalid":{"value":{"title":"Invalid Email","message":"invalid_email@example is an invalid email format"}},"Email is Blank":{"value":{"title":"Invalid Argument","message":"The supplied parameters are invalid.","details":[{"parameter":"email","message":"must be filled"}]}},"Email Exists in Organization":{"value":{"title":"Already Organization Member","message":"email@example.com is already in the organization"}},"Invitation Already Exists":{"value":{"title":"Already Invited","message":"email@example.com has already been invited"}},"Race Condition":{"value":{"title":"Race Condition","message":"A race condition occurred when processing the request.  Please try the request again."}}}}}},"401":{"$ref":"#/components/responses/UNAUTHENTICATED"},"403":{"$ref":"#/components/responses/ORGANIZATION_INVITATION_CREATE_AND_SCOPES_FORBIDDEN"},"404":{"$ref":"#/components/responses/NOT_FOUND"},"500":{"$ref":"#/components/responses/UNKNOWN"}},"operationId":"create-organization-invitation","description":"Invites a user to an organization.\n\n\u003CInfo title=\u0022Required scopes\u0022\u003E\n\u003E \u0060organizations:write\u0060\n\u003C/Info\u003E","security":[{"oauth2":[]},{"personal_access_token":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"email":{"type":"string","description":"The email of the user being invited","example":"alice@example.com"}},"required":["email"]},"examples":{"Invite user request":{"value":{"email":"alice@example.com"}},"Email is Invalid":{"value":{"email":"invalid_email@example"}},"Email is Blank":{"value":{"email":""}},"Email Exists in Organization":{"value":{"email":"email@example.com"}},"Invitation Already Exists":{"value":{"email":"email@example.com"}},"Race Condition":{"value":{"email":"alice@example.com"}}}}}},"tags":["Organizations"]}},"/organizations/{org_uuid}/invitations/{uuid}":{"parameters":[{"schema":{"type":"string","example":"AAAAAAAAAAAAAAAA"},"name":"org_uuid","in":"path","required":true,"description":"The organization\u2019s unique identifier"},{"schema":{"type":"string","example":"BBBBBBBBBBBBBBBB"},"name":"uuid","in":"path","description":"The organization invitation\u0027s unique identifier","required":true}],"delete":{"summary":"Revoke User\u0027s Organization Invitation","tags":["Organizations"],"responses":{"204":{"description":"No Content"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"Invitation Already Accepted":{"value":{"title":"Invitation Already Accepted","message":"The invitation has already been accepted."}}}}}},"401":{"$ref":"#/components/responses/UNAUTHENTICATED"},"403":{"$ref":"#/components/responses/ORGANIZATION_INVITATION_DELETE_AND_SCOPES_FORBIDDEN"},"404":{"$ref":"#/components/responses/NOT_FOUND"},"500":{"$ref":"#/components/responses/UNKNOWN"}},"operationId":"revoke-organization-invitation","description":"Use this to revoke an Organization Invitation to an organization. Once revoked, the invitation link that was sent to the invitee is no longer valid.\n\n\u003CInfo title=\u0022Required scopes\u0022\u003E\n\u003E \u0060organizations:write\u0060\n\u003C/Info\u003E","security":[{"oauth2":[]},{"personal_access_token":[]}]},"get":{"summary":"Get Organization Invitation","operationId":"get-organization-invitation","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"resource":{"$ref":"#/components/schemas/OrganizationInvitation"}},"required":["resource"]},"examples":{"Organization Invitation":{"value":{"resource":{"uri":"https://api.calendly.com/organizations/AAAAAAAAAAAAAAAA/invitations/BBBBBBBBBBBBBBBB","organization":"https://api.calendly.com/organizations/AAAAAAAAAAAAAAAA","email":"test@example.com","status":"accepted","created_at":"2019-08-07T06:05:04.321123Z","updated_at":"2019-01-02T03:04:05.678123Z","last_sent_at":"2019-01-02T03:04:05.678123Z","user":"https://api.calendly.com/users/AAAAAAAAAAAAAAAA"}}}}}}},"400":{"$ref":"#/components/responses/INVALID_ARGUMENT"},"401":{"$ref":"#/components/responses/UNAUTHENTICATED"},"403":{"$ref":"#/components/responses/PERMISSION_DENIED_AND_SCOPES_FORBIDDEN"},"404":{"$ref":"#/components/responses/NOT_FOUND"},"500":{"$ref":"#/components/responses/UNKNOWN"}},"description":"Returns an Organization Invitation that was sent to the organization\u0027s members.\n\n\u003CInfo title=\u0022Required scopes\u0022\u003E\n\u003E \u0060organizations:read\u0060\n\u003C/Info\u003E","security":[{"oauth2":[]},{"personal_access_token":[]}],"tags":["Organizations"]}},"/organization_memberships/{uuid}":{"get":{"summary":"Get Organization Membership","tags":["Organizations"],"security":[{"oauth2":[]},{"personal_access_token":[]}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"resource":{"$ref":"#/components/schemas/OrganizationMembership"}},"required":["resource"]},"examples":{"Organization Membership":{"value":{"resource":{"uri":"https://api.calendly.com/organization_memberships/AAAAAAAAAAAAAAAA","role":"admin","user":{"uri":"https://api.calendly.com/users/AAAAAAAAAAAAAAAA","name":"John Doe","slug":"acmesales","email":"test@example.com","scheduling_url":"https://calendly.com/acmesales","timezone":"America/New York","time_notation":"12h","avatar_url":"https://01234567890.cloudfront.net/uploads/user/avatar/0123456/a1b2c3d4.png","locale":"en","created_at":"2019-01-02T03:04:05.678123Z","updated_at":"2019-08-07T06:05:04.321123Z"},"organization":"https://api.calendly.com/organizations/AAAAAAAAAAAAAAAA","updated_at":"2019-08-07T06:05:04.321123Z","created_at":"2019-01-02T03:04:05.678123Z"}}}}}}},"400":{"$ref":"#/components/responses/INVALID_ARGUMENT"},"401":{"$ref":"#/components/responses/UNAUTHENTICATED"},"403":{"$ref":"#/components/responses/USER_NOT_IN_ORG_GENERIC_and_SCOPES_FORBIDDEN"},"404":{"$ref":"#/components/responses/NOT_FOUND"},"500":{"$ref":"#/components/responses/UNKNOWN"}},"description":"Returns information about a user\u0027s Organization Membership\n\n\u003CInfo title=\u0022Required scopes\u0022\u003E\n\u003E \u0060organizations:read\u0060\n\u003C/Info\u003E","operationId":"get-organization-membership"},"delete":{"summary":"Remove User from Organization","tags":["Organizations"],"operationId":"delete-organization-membership","responses":{"204":{"description":"No Content"},"400":{"$ref":"#/components/responses/INVALID_ARGUMENT"},"401":{"$ref":"#/components/responses/UNAUTHENTICATED"},"403":{"$ref":"#/components/responses/ORG_MEMBERSHIP_DELETE_AND_SCOPES_FORBIDDEN"},"404":{"$ref":"#/components/responses/NOT_FOUND"},"500":{"$ref":"#/components/responses/UNKNOWN"}},"description":"Removes a user from an organization.\n\nNotes:\n\n* To remove users, the caller must have admin rights for the organization\n\n* An organization owner can\u0027t be removed\n\n\u003CInfo title=\u0022Required scopes\u0022\u003E\n\u003E \u0060organizations:write\u0060\n\u003C/Info\u003E","security":[{"oauth2":[]},{"personal_access_token":[]}]},"parameters":[{"schema":{"type":"string","example":"AAAAAAAAAAAAAAAA"},"name":"uuid","in":"path","required":true,"description":"The organization membership\u0027s unique identifier"}]},"/organization_memberships":{"get":{"summary":"List Organization Memberships","tags":["Organizations"],"security":[{"oauth2":[]},{"personal_access_token":[]}],"parameters":[{"$ref":"#/components/parameters/PageToken"},{"$ref":"#/components/parameters/Count"},{"schema":{"type":"string","format":"email","example":"user@example.com"},"in":"query","name":"email","description":"Indicates if the results should be filtered by email address"},{"schema":{"type":"string","format":"uri","example":"https://api.calendly.com/organizations/AAAAAAAAAAAAAAAA"},"in":"query","name":"organization","description":"Indicates if the results should be filtered by organization"},{"schema":{"type":"string","example":"https://api.calendly.com/users/AAAAAAAAAAAAAAAA","format":"uri"},"in":"query","name":"user","description":"Indicates if the results should be filtered by user"},{"schema":{"type":"string","enum":["owner","admin","user"],"example":"owner"},"in":"query","name":"role","description":"Indicates if the results should be filtered by role"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","description":"Service response","properties":{"collection":{"type":"array","items":{"$ref":"#/components/schemas/OrganizationMembership"}},"pagination":{"$ref":"#/components/schemas/Pagination"}},"required":["collection","pagination"]},"examples":{"Organization Memberships":{"value":{"collection":[{"uri":"https://api.calendly.com/organization_memberships/AAAAAAAAAAAAAAAA","role":"admin","user":{"uri":"https://api.calendly.com/users/AAAAAAAAAAAAAAAA","name":"John Doe","slug":"acmesales","email":"test@example.com","scheduling_url":"https://calendly.com/acmesales","timezone":"America/New York","time_notation":"12h","avatar_url":"https://01234567890.cloudfront.net/uploads/user/avatar/0123456/a1b2c3d4.png","locale":"en","created_at":"2019-01-02T03:04:05.678123Z","updated_at":"2019-08-07T06:05:04.321123Z"},"organization":"https://api.calendly.com/organizations/AAAAAAAAAAAAAAAA","updated_at":"2019-08-07T06:05:04.321123Z","created_at":"2019-01-02T03:04:05.678123Z"}],"pagination":{"count":20,"next_page":"https://api.calendly.com/organization_memberships/AAAAAAAAAAAAAAAA?count=1\u0026page_token=sNjq4TvMDfUHEl7zHRR0k0E1PCEJWvdi","previous_page":"https://api.calendly.com/organization_memberships/AAAAAAAAAAAAAAAA?count=1\u0026page_token=VJs2rfDYeY8ahZpq0QI1O114LJkNjd7H","next_page_token":"sNjq4TvMDfUHEl7zHRR0k0E1PCEJWvdi","previous_page_token":"VJs2rfDYeY8ahZpq0QI1O114LJkNjd7H"}}}}}}},"400":{"$ref":"#/components/responses/INVALID_ARGUMENT"},"401":{"$ref":"#/components/responses/UNAUTHENTICATED"},"403":{"$ref":"#/components/responses/USER_NOT_IN_ORG_GENERIC_and_SCOPES_FORBIDDEN"},"404":{"$ref":"#/components/responses/NOT_FOUND"},"500":{"$ref":"#/components/responses/UNKNOWN"}},"description":"Use this to list the Organization Memberships for all users belonging to an organization, use:\n\n* \u0060user\u0060 to look up a user\u0027s membership in an organization\n\n* \u0060organization\u0060 to look up all users that belong to the organization\n\nThis endpoint can also be used to retrieve your organization URI.\n\n\u003CInfo title=\u0022Required scopes\u0022\u003E\n\u003E \u0060organizations:read\u0060\n\u003C/Info\u003E","operationId":"list-organization-memberships"},"parameters":[]},"/webhook_subscriptions":{"post":{"summary":"Create Webhook Subscription","operationId":"createwebhooks","responses":{"201":{"headers":{"Location":{"schema":{"type":"string","format":"uri","example":"https://api.calendly.com/webhook_subscriptions/AAAAAAAAAAAAAAAA","description":"Canonical reference (unique identifier) for the webhook"}}},"description":"Created","content":{"application/json":{"schema":{"type":"object","properties":{"resource":{"$ref":"#/components/schemas/WebhookSubscription"}},"required":["resource"]},"examples":{"User Scope Webhook":{"value":{"resource":{"uri":"https://api.calendly.com/webhook_subscriptions/AAAAAAAAAAAAAAAA","callback_url":"https://blah.foo/bar","created_at":"2019-08-24T14:15:22.123456Z","updated_at":"2019-08-24T14:15:22.123456Z","retry_started_at":"2019-08-24T14:15:22.123456Z","state":"active","events":["invitee.created","invitee.canceled","invitee_no_show.created","invitee_no_show.deleted","meeting_recap.created","meeting_recap.updated","meeting_recap.deleted","contact.created","contact.updated","contact.deleted"],"scope":"user","organization":"https://api.calendly.com/organizations/AAAAAAAAAAAAAAAA","user":"https://api.calendly.com/users/BBBBBBBBBBBBBBBB","group":null,"creator":"https://api.calendly.com/users/BBBBBBBBBBBBBBBB"}}},"Organization Scope Webhook":{"value":{"resource":{"uri":"https://api.calendly.com/webhook_subscriptions/AAAAAAAAAAAAAAAA","callback_url":"https://blah.foo/bar","created_at":"2019-08-24T14:15:22.123456Z","updated_at":"2019-08-24T14:15:22.123456Z","retry_started_at":"2019-08-24T14:15:22.123456Z","state":"active","events":["invitee.created","invitee.canceled","invitee_no_show.created","invitee_no_show.deleted","routing_form_submission.created","contact.created","contact.updated","contact.deleted"],"scope":"organization","organization":"https://api.calendly.com/organizations/AAAAAAAAAAAAAAAA","user":null,"group":null,"creator":"https://api.calendly.com/users/AAAAAAAAAAAAAAAA"}}},"Group Scope Webhook":{"value":{"resource":{"uri":"https://api.calendly.com/webhook_subscriptions/AAAAAAAAAAAAAAAA","callback_url":"https://blah.foo/bar","created_at":"2019-08-24T14:15:22.123456Z","updated_at":"2019-08-24T14:15:22.123456Z","retry_started_at":"2019-08-24T14:15:22.123456Z","state":"active","events":["invitee.created","invitee.canceled","invitee_no_show.created","invitee_no_show.deleted","contact.created","contact.updated","contact.deleted"],"scope":"group","organization":"https://api.calendly.com/organizations/AAAAAAAAAAAAAAAA","user":null,"group":"https://api.calendly.com/groups/BBBBBBBBBBBBBBBB","creator":"https://api.calendly.com/users/AAAAAAAAAAAAAAAA"}}}}}}},"400":{"$ref":"#/components/responses/INVALID_ARGUMENT"},"401":{"$ref":"#/components/responses/UNAUTHENTICATED"},"403":{"$ref":"#/components/responses/POST_WEBHOOK_SUBS_AND_SCOPES_FORBIDDEN"},"404":{"$ref":"#/components/responses/NOT_FOUND"},"409":{"description":"Attempt to create a resource that already exists","content":{"application/json":{"examples":{"User Scope Webhook":{"value":{"title":"Already Exists","message":"Hook with this url already exists"}},"Organization Scope Webhook":{"value":{"title":"Already Exists","message":"Hook with this url already exists"}},"Group Scope Webhook":{"value":{"title":"Already Exists","message":"Hook with this url already exists"}}},"schema":{"allOf":[{"$ref":"#/components/schemas/ErrorResponse"},{"type":"object","properties":{"title":{"type":"string","enum":["Already Exists"]},"message":{"type":"string","enum":["Hook with this url already exists"]}}}]}}}},"503":{"$ref":"#/components/responses/UNKNOWN"}},"description":"Create a Webhook Subscription for an Organization, User, or Group.\n\n* The \u0060organization\u0060 subscription scope triggers the webhook for all subscribed events within the organization.\n* The \u0060user\u0060 subscription scope only triggers the webhook for subscribed events that belong to the specific user.\n* The \u0060group\u0060 subscription scope only triggers the webhook for subscribed events that belong to the specfic group.\n\n| Event | Allowed Subscription Scopes | Required Auth Scope |\n| ----- | ----- | ----- |\n| invitee.created | \u0060organization\u0060 \u0060user\u0060 \u0060group\u0060 | \u0060scheduled_events:read\u0060 |\n| invitee.canceled | \u0060organization\u0060 \u0060user\u0060 \u0060group\u0060 | \u0060scheduled_events:read\u0060 |\n| invitee_no_show.created | \u0060organization\u0060 \u0060user\u0060 \u0060group\u0060 | \u0060scheduled_events:read\u0060 |\n| invitee_no_show.deleted | \u0060organization\u0060 \u0060user\u0060 \u0060group\u0060 | \u0060scheduled_events:read\u0060 |\n| event_type.created | \u0060organization\u0060 \u0060user\u0060 \u0060group\u0060 | \u0060event_types:read\u0060 |\n| event_type.deleted | \u0060organization\u0060 \u0060user\u0060 \u0060group\u0060 | \u0060event_types:read\u0060 |\n| event_type.updated | \u0060organization\u0060 \u0060user\u0060 \u0060group\u0060 | \u0060event_types:read\u0060 |\n| meeting_recap.created | \u0060user\u0060 | \u0060meeting_recaps:read\u0060 |\n| meeting_recap.updated | \u0060user\u0060 | \u0060meeting_recaps:read\u0060 |\n| meeting_recap.deleted | \u0060user\u0060 | \u0060meeting_recaps:read\u0060 |\n| routing_form_submission.created | \u0060organization\u0060 \u003Cbr /\u003E \u003Csmall\u003ECreate separate Webhook Subscriptions for events with different subscription scopes.\u003C/small\u003E | \u0060routing_forms:read\u0060 |\n| contact.created | \u0060organization\u0060 \u0060user\u0060 \u0060group\u0060 | \u0060contacts:read\u0060 |\n| contact.updated | \u0060organization\u0060 \u0060user\u0060 \u0060group\u0060 | \u0060contacts:read\u0060 |\n| contact.deleted | \u0060organization\u0060 \u0060user\u0060 \u0060group\u0060 | \u0060contacts:read\u0060 |\n\n\u003CInfo title=\u0022Required scopes\u0022\u003E\n\u003E \u0060webhooks:write\u0060\n\u003C/Info\u003E","tags":["Webhooks"],"security":[{"oauth2":[]},{"personal_access_token":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["url","events","organization","scope"],"properties":{"url":{"type":"string","description":"The URL where you want to receive POST requests for events you are subscribed to.","format":"uri"},"events":{"type":"array","description":"List of user events to subscribe to.","uniqueItems":true,"items":{"type":"string","enum":["invitee.canceled","invitee.created","invitee_no_show.created","invitee_no_show.deleted","meeting_recap.created","meeting_recap.updated","meeting_recap.deleted","routing_form_submission.created","contact.created","contact.updated","contact.deleted"]}},"organization":{"type":"string","description":"The unique reference to the organization that the webhook will be tied to.","format":"uri"},"user":{"type":"string","description":"The unique reference to the user that the webhook will be tied to.","format":"uri"},"group":{"type":"string","format":"uri","description":"The unique reference to the group that the webhook will be tied to."},"scope":{"type":"string","enum":["organization","user","group"],"description":"Indicates whether the webhook subscription scope is \u0060organization\u0060, \u0060user\u0060, or \u0060group\u0060"},"signing_key":{"type":"string","description":"Optional secret key shared between your application and Calendly. See https://developer.calendly.com/api-docs/overview/webhooks/webhook-signatures for additional information."}}},"examples":{"User Scope Webhook":{"value":{"url":"https://blah.foo/bar","events":["invitee.created","invitee.canceled","invitee_no_show.created","invitee_no_show.deleted","meeting_recap.created","meeting_recap.updated","meeting_recap.deleted","contact.created","contact.updated","contact.deleted"],"organization":"https://api.calendly.com/organizations/AAAAAAAAAAAAAAAA","user":"https://api.calendly.com/users/BBBBBBBBBBBBBBBB","scope":"user","signing_key":"5mEzn9C-I28UtwOjZJtFoob0sAAFZ95GbZkqj4y3i0I"}},"Organization Scope Webhook":{"value":{"url":"https://blah.foo/bar","events":["invitee.created","invitee.canceled","invitee_no_show.created","invitee_no_show.deleted","routing_form_submission.created","contact.created","contact.updated","contact.deleted"],"organization":"https://api.calendly.com/organizations/AAAAAAAAAAAAAAAA","scope":"organization","signing_key":"5mEzn9C-I28UtwOjZJtFoob0sAAFZ95GbZkqj4y3i0I"}},"Group Scope Webhook":{"value":{"url":"https://blah.foo/bar","events":["invitee.created","invitee.canceled","invitee_no_show.created","invitee_no_show.deleted","contact.created","contact.updated","contact.deleted"],"organization":"https://api.calendly.com/organizations/AAAAAAAAAAAAAAAA","group":"https://api.calendly.com/groups/BBBBBBBBBBBBBBBB","scope":"group","signing_key":"5mEzn9C-I28UtwOjZJtFoob0sAAFZ95GbZkqj4y3i0I"}}}}},"description":""}},"get":{"summary":"List Webhook Subscriptions","operationId":"list-webhook-subscriptions","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"collection":{"type":"array","items":{"$ref":"#/components/schemas/WebhookSubscription"}},"pagination":{"$ref":"#/components/schemas/Pagination"}},"required":["collection","pagination"]},"examples":{"Webhook Subscriptions":{"value":{"collection":[{"uri":"https://api.calendly.com/webhook_subscriptions/AAAAAAAAAAAAAAAA","callback_url":"https://blah.foo/bar","created_at":"2019-08-24T14:15:22.123456Z","updated_at":"2019-08-24T14:15:22.123456Z","retry_started_at":"2019-08-24T14:15:22.123456Z","state":"active","events":["invitee.created"],"scope":"user","organization":"https://api.calendly.com/organizations/AAAAAAAAAAAAAAAA","user":"https://api.calendly.com/users/AAAAAAAAAAAAAAAA","group":"https://api.calendly.com/groups/AAAAAAAAAAAAAAAA","creator":"https://api.calendly.com/users/AAAAAAAAAAAAAAAA"}],"pagination":{"count":20,"next_page":"https://api.calendly.com/webhook_subscriptions?count=1\u0026page_token=sNjq4TvMDfUHEl7zHRR0k0E1PCEJWvdi","previous_page":"https://api.calendly.com/webhook_subscriptions?count=1\u0026page_token=VJs2rfDYeY8ahZpq0QI1O114LJkNjd7H","next_page_token":"sNjq4TvMDfUHEl7zHRR0k0E1PCEJWvdi","previous_page_token":"VJs2rfDYeY8ahZpq0QI1O114LJkNjd7H"}}}}}}},"400":{"$ref":"#/components/responses/INVALID_ARGUMENT"},"401":{"$ref":"#/components/responses/UNAUTHENTICATED"},"403":{"$ref":"#/components/responses/GET_WEBHOOK_SUBS_AND_SCOPES_FORBIDDEN"},"404":{"$ref":"#/components/responses/NOT_FOUND"}},"security":[{"oauth2":[]},{"personal_access_token":[]}],"description":"Get a list of Webhook Subscriptions for a specified Organization, User, or Group.\n\n\u003CInfo title=\u0022Required scopes\u0022\u003E\n\u003E \u0060webhooks:read\u0060\n\u003C/Info\u003E","tags":["Webhooks"],"parameters":[{"schema":{"type":"string","format":"uri","example":"https://api.calendly.com/organizations/AAAAAAAAAAAAAAAA"},"in":"query","name":"organization","description":"The given organization that owns the subscriptions being returned. This field is always required.","required":true},{"schema":{"type":"string","format":"uri","example":"https://api.calendly.com/users/AAAAAAAAAAAAAAAA"},"in":"query","name":"user","description":"Indicates if the results should be filtered by user. This parameter is only required if the \u0060scope\u0060 parameter is set to \u0060user\u0060."},{"schema":{"type":"string","format":"uri","example":"https://api.calendly.com/groups/AAAAAAAAAAAAAAAA"},"in":"query","name":"group","description":"Indicates if the results should be filtered by group. This parameter is only required if the \u0060scope\u0060 parameter is set to \u0060group\u0060."},{"$ref":"#/components/parameters/PageToken"},{"$ref":"#/components/parameters/Count"},{"schema":{"type":"string"},"in":"query","name":"sort","description":"Order results by the specified field and direction. Accepts comma-separated list of {field}:{direction} values.\nSupported fields are: created_at.\nSort direction is specified as: asc, desc."},{"schema":{"type":"string","enum":["organization","user","group"]},"in":"query","name":"scope","description":"Filter the list by organization, user, or group","required":true}]}},"/webhook_subscriptions/{webhook_uuid}":{"parameters":[{"schema":{"type":"string","example":"AAAAAAAAAAAAAAAA"},"name":"webhook_uuid","in":"path","required":true}],"get":{"summary":"Get Webhook Subscription","tags":["Webhooks"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"resource":{"$ref":"#/components/schemas/WebhookSubscription"}},"required":["resource"]},"examples":{"Webhook Subscription":{"value":{"resource":{"uri":"https://api.calendly.com/webhook_subscriptions/AAAAAAAAAAAAAAAA","callback_url":"https://blah.foo/bar","created_at":"2019-08-24T14:15:22.123456Z","updated_at":"2019-08-24T14:15:22.123456Z","retry_started_at":"2019-08-24T14:15:22.123456Z","state":"active","events":["invitee.created"],"scope":"user","organization":"https://api.calendly.com/organizations/AAAAAAAAAAAAAAAA","user":"https://api.calendly.com/users/AAAAAAAAAAAAAAAA","group":"https://api.calendly.com/groups/AAAAAAAAAAAAAAAA","creator":"https://api.calendly.com/users/AAAAAAAAAAAAAAAA"}}}}}}},"401":{"$ref":"#/components/responses/UNAUTHENTICATED"},"403":{"$ref":"#/components/responses/PERMISSION_DENIED_AND_SCOPES_FORBIDDEN"},"404":{"$ref":"#/components/responses/NOT_FOUND"}},"operationId":"get-webhook-subscription","description":"Get a specified Webhook Subscription.\n\n\u003CInfo title=\u0022Required scopes\u0022\u003E\n\u003E \u0060webhooks:read\u0060\n\u003C/Info\u003E","security":[{"oauth2":[]},{"personal_access_token":[]}]},"delete":{"summary":"Delete Webhook Subscription","operationId":"delete-webhook-subscription","description":"Delete a Webhook Subscription.\n\n\u003CInfo title=\u0022Required scopes\u0022\u003E\n\u003E \u0060webhooks:write\u0060\n\u003C/Info\u003E","responses":{"204":{"description":"No Content"},"401":{"$ref":"#/components/responses/UNAUTHENTICATED"},"403":{"$ref":"#/components/responses/PERMISSION_DENIED_AND_SCOPES_FORBIDDEN"},"404":{"$ref":"#/components/responses/NOT_FOUND"},"500":{"$ref":"#/components/responses/UNKNOWN"}},"tags":["Webhooks"],"security":[{"oauth2":[]},{"personal_access_token":[]}]}},"/scheduling_links":{"post":{"tags":["Scheduling Links"],"summary":"Create Single-Use Scheduling Link","operationId":"create-scheduling-link","responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"type":"object","properties":{"resource":{"type":"object","required":["booking_url"],"properties":{"booking_url":{"type":"string","description":"Scheduling link url","format":"uri","example":"https://calendly.com/d/abcd-brv8/15-minute-meeting"},"owner":{"type":"string","description":"A link to the resource that owns this Scheduling Link (currently, this is always an Event Type)","format":"uri","example":"https://api.calendly.com/event_types/AAAAAAAAAAAAAAAA"},"owner_type":{"type":"string","example":"EventType","enum":["EventType"],"description":"Resource type (currently, this is always EventType)"}}}},"required":["resource"]},"examples":{"Create Single Use Link":{"value":{"resource":{"booking_url":"https://calendly.com/d/abcd-brv8/15-minute-meeting","owner":"https://api.calendly.com/event_types/AAAAAAAAAAAAAAAA","owner_type":"EventType"}}}}}}},"400":{"$ref":"#/components/responses/INVALID_ARGUMENT"},"401":{"$ref":"#/components/responses/UNAUTHENTICATED"},"403":{"$ref":"#/components/responses/PERMISSION_DENIED_AND_SCOPES_FORBIDDEN"},"404":{"$ref":"#/components/responses/NOT_FOUND"},"500":{"$ref":"#/components/responses/UNKNOWN"}},"description":"Creates a single-use scheduling link.\n\n\u003CInfo title=\u0022Required scopes\u0022\u003E\n\u003E \u0060scheduling_links:write\u0060\n\u003C/Info\u003E","security":[{"oauth2":[]},{"personal_access_token":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"max_event_count":{"type":"number","description":"The max number of events that can be scheduled using this scheduling link.","enum":[1],"example":1},"owner":{"type":"string","description":"A link to the resource that owns this Scheduling Link (currently, this is always an Event Type)","format":"uri","example":"https://api.calendly.com/event_types/AAAAAAAAAAAAAAAA"},"owner_type":{"type":"string","example":"EventType","enum":["EventType"],"description":"Resource type (currently, this is always EventType)"}},"required":["max_event_count","owner","owner_type"]},"examples":{"Create Single Use Link":{"value":{"max_event_count":1,"owner":"https://api.calendly.com/event_types/AAAAAAAAAAAAAAAA","owner_type":"EventType"}}}}},"description":""}}},"/data_compliance/deletion/invitees":{"post":{"summary":"Delete Invitee Data","security":[{"oauth2":[]},{"personal_access_token":[]}],"tags":["Data Compliance"],"operationId":"delete-invitee-data","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"emails":{"type":"array","items":{"type":"string","format":"email","example":"test@example.com"}}},"required":["emails"]},"examples":{"Delete invitee data request":{"value":{"emails":["test@example.com"]}}}}},"description":""},"responses":{"202":{"description":"Accepted","content":{"application/json":{"schema":{"type":"object","properties":{}},"examples":{"Delete invitee data request":{"value":{}}}}}},"400":{"$ref":"#/components/responses/INVALID_ARGUMENT"},"401":{"$ref":"#/components/responses/UNAUTHENTICATED"},"403":{"$ref":"#/components/responses/DATA_COMPLIANCE_AND_SCOPES_FORBIDDEN"},"404":{"$ref":"#/components/responses/NOT_FOUND"},"500":{"$ref":"#/components/responses/UNKNOWN"}},"description":"To submit a request to remove invitee data from all previously booked events in your organization, use this endpoint. Requests for data deletion can take up to 7 days to complete.\n\n\u003CInfo\u003E\n\u003E This endpoint requires an \u003Cstrong\u003EEnterprise\u003C/strong\u003E subscription.\n\u003C/Info\u003E\n\u003CInfo title=\u0022Required scopes\u0022\u003E\n\u003E \u0060data_compliance:write\u0060\n\u003C/Info\u003E"}},"/invitee_no_shows/{uuid}":{"parameters":[{"schema":{"type":"string","example":"AAAAAAAAAAAAAAAA"},"name":"uuid","in":"path","required":true}],"get":{"summary":"Get Invitee No Show","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"resource":{"$ref":"#/components/schemas/InviteeNoShow"}},"required":["resource"]},"examples":{"Invitee No Show":{"value":{"resource":{"uri":"https://api.calendly.com/invitee_no_shows/AAAAAAAAAAAAAAAA","invitee":"https://api.calendly.com/scheduled_events/AAAAAAAAAAAAAAAA/invitees/AAAAAAAAAAAAAAAA","created_at":"2019-01-02T03:04:05.678123Z"}}}}}}},"400":{"$ref":"#/components/responses/INVALID_ARGUMENT"},"401":{"$ref":"#/components/responses/UNAUTHENTICATED"},"403":{"$ref":"#/components/responses/PERMISSION_DENIED_AND_SCOPES_FORBIDDEN"},"404":{"$ref":"#/components/responses/NOT_FOUND"}},"operationId":"get-invitee-no-show","description":"Returns information about a specified Invitee No Show.\n\n\u003CInfo title=\u0022Required scopes\u0022\u003E\n\u003E \u0060scheduled_events:read\u0060\n\u003C/Info\u003E","tags":["Scheduled Events"],"security":[{"oauth2":[]},{"personal_access_token":[]}]},"delete":{"summary":"Delete Invitee No Show","operationId":"delete-invitee-no-show","responses":{"204":{"description":"No Content"},"401":{"$ref":"#/components/responses/UNAUTHENTICATED"},"403":{"$ref":"#/components/responses/PERMISSION_DENIED_AND_SCOPES_FORBIDDEN"},"404":{"$ref":"#/components/responses/NOT_FOUND"},"500":{"$ref":"#/components/responses/UNKNOWN"}},"description":"Undoes marking an Invitee as a No Show.\n\n\u003CInfo title=\u0022Required scopes\u0022\u003E\n\u003E \u0060scheduled_events:write\u0060\n\u003C/Info\u003E","tags":["Scheduled Events"],"security":[{"oauth2":[]},{"personal_access_token":[]}]}},"/invitee_no_shows":{"parameters":[],"post":{"summary":"Create Invitee No Show","operationId":"create-invitee-no-show","responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"type":"object","properties":{"resource":{"$ref":"#/components/schemas/InviteeNoShow"}},"required":["resource"]},"examples":{"Create invitee no show request":{"value":{"resource":{"uri":"https://api.calendly.com/invitee_no_shows/AAAAAAAAAAAAAAAA","invitee":"https://api.calendly.com/scheduled_events/AAAAAAAAAAAAAAAA/invitees/AAAAAAAAAAAAAAAA","created_at":"2019-01-02T03:04:05.678123Z"}}}}}}},"400":{"$ref":"#/components/responses/INVALID_ARGUMENT"},"401":{"$ref":"#/components/responses/UNAUTHENTICATED"},"403":{"$ref":"#/components/responses/PERMISSION_DENIED_AND_SCOPES_FORBIDDEN"},"404":{"$ref":"#/components/responses/NOT_FOUND"},"500":{"$ref":"#/components/responses/UNKNOWN"}},"description":"Marks an Invitee as a No Show.\n\n\u003CInfo title=\u0022Required scopes\u0022\u003E\n\u003E \u0060scheduled_events:write\u0060\n\u003C/Info\u003E","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"invitee":{"type":"string","format":"uri","example":"https://api.calendly.com/scheduled_events/AAAAAAAAAAAAAAAA/invitees/AAAAAAAAAAAAAAAA"}}},"examples":{"Create invitee no show request":{"value":{"invitee":"https://api.calendly.com/scheduled_events/AAAAAAAAAAAAAAAA/invitees/AAAAAAAAAAAAAAAA"}}}}}},"tags":["Scheduled Events"],"security":[{"oauth2":[]},{"personal_access_token":[]}]}},"/groups/{uuid}":{"get":{"summary":"Get Group","security":[{"oauth2":[]},{"personal_access_token":[]}],"parameters":[{"name":"uuid","in":"path","description":"Group unique identifier","required":true,"schema":{"type":"string","example":"AAAAAAAAAAAAAAAA"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","description":"Service response","properties":{"resource":{"$ref":"#/components/schemas/Group"}},"required":["resource"]},"examples":{"Group":{"value":{"resource":{"uri":"https://api.calendly.com/groups/AAAAAAAAAAAAAAAA","name":"Sales Team","organization":"https://api.calendly.com/organizations/AAAAAAAAAAAAAAAA","created_at":"2019-01-02T03:04:05.678123Z","updated_at":"2019-08-07T06:05:04.321123Z"}}}}}}},"401":{"$ref":"#/components/responses/UNAUTHENTICATED"},"403":{"$ref":"#/components/responses/PERMISSION_DENIED_AND_SCOPES_FORBIDDEN"},"404":{"$ref":"#/components/responses/NOT_FOUND"},"500":{"$ref":"#/components/responses/UNKNOWN"}},"description":"Returns information about a specified Group.\n\n\u003CInfo title=\u0022Required scopes\u0022\u003E\n\u003E \u0060groups:read\u0060\n\u003C/Info\u003E","operationId":"get-group","tags":["Groups"]}},"/group_relationships":{"get":{"summary":"List Group Relationships","description":"Returns a list of group relationships - a given owner can have one membership record, but multiple admin records\n\n\u003CInfo title=\u0022Required scopes\u0022\u003E\n\u003E \u0060groups:read\u0060\n\u003C/Info\u003E","operationId":"list-group-relationships","tags":["Groups"],"security":[{"oauth2":[]},{"personal_access_token":[]}],"parameters":[{"$ref":"#/components/parameters/Count"},{"$ref":"#/components/parameters/PageToken"},{"name":"organization","in":"query","description":"Indicates the results should be filtered by organization","schema":{"type":"string","format":"uri"}},{"name":"owner","in":"query","description":"Indicates the results should be filtered by owner \u003Cbr\u003E\nOne Of:\n  - Organization Membership URI - \u0060https://api.calendly.com/organization_memberships/AAAAAAAAAAAAAAAA\u0060\n  - Organization Invitation URI - \u0060https://api.calendly.com/organizations/AAAAAAAAAAAAAAAA/invitations/BBBBBBBBBBBBBBBB\u0060\n","schema":{"type":"string","format":"uri"}},{"name":"group","in":"query","description":"Indicates the results should be filtered by group","schema":{"type":"string","format":"uri"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","description":"Service response","properties":{"collection":{"type":"array","description":"The set of group relationship records matching the criteria","items":{"$ref":"#/components/schemas/GroupRelationship"}},"pagination":{"$ref":"#/components/schemas/Pagination"}},"required":["collection","pagination"]},"examples":{"Group Relationships":{"value":{"collection":[{"uri":"https://api.calendly.com/group_relationships/AAAAAAAAAAAAAAAA","role":"member","owner":{"type":"OrganizationMembership","uri":"https://api.calendly.com/organization_memberships/AAAAAAAAAAAAAAAA","role":"user","user":{"uri":"https://api.calendly.com/users/AAAAAAAAAAAAAAAA","name":"John Doe","slug":"acmesales","email":"test@example.com","scheduling_url":"https://calendly.com/acmesales","timezone":"America/New York","time_notation":"12h","avatar_url":"https://01234567890.cloudfront.net/uploads/user/avatar/0123456/a1b2c3d4.png","locale":"en","created_at":"2019-01-02T03:04:05.678123Z","updated_at":"2019-08-07T06:05:04.321123Z"},"organization":"https://api.calendly.com/organizations/AAAAAAAAAAAAAAAA","updated_at":"2019-08-07T06:05:04.321123Z","created_at":"2019-01-02T03:04:05.678123Z"},"organization":"https://api.calendly.com/organizations/AAAAAAAAAAAAAAAA","group":"https://api.calendly.com/groups/AAAAAAAAAAAAAAAA","created_at":"2019-01-02T03:04:05.678123Z","updated_at":"2019-08-07T06:05:04.321123Z"},{"uri":"https://api.calendly.com/group_relationships/AAAAAAAAAAAAAAAA","role":"admin","owner":{"type":"OrganizationMembership","uri":"https://api.calendly.com/organization_memberships/AAAAAAAAAAAAAAAA","role":"user","user":{"uri":"https://api.calendly.com/users/AAAAAAAAAAAAAAAA","name":"John Doe","slug":"acmesales","email":"test@example.com","scheduling_url":"https://calendly.com/acmesales","timezone":"America/New York","time_notation":"12h","avatar_url":"https://01234567890.cloudfront.net/uploads/user/avatar/0123456/a1b2c3d4.png","locale":"en","created_at":"2019-01-02T03:04:05.678123Z","updated_at":"2019-08-07T06:05:04.321123Z"},"organization":"https://api.calendly.com/organizations/AAAAAAAAAAAAAAAA","updated_at":"2019-08-07T06:05:04.321123Z","created_at":"2019-01-02T03:04:05.678123Z"},"organization":"https://api.calendly.com/organizations/AAAAAAAAAAAAAAAA","group":"https://api.calendly.com/groups/AAAAAAAAAAAAAAAA","created_at":"2019-01-02T03:04:05.678123Z","updated_at":"2019-08-07T06:05:04.321123Z"},{"uri":"https://api.calendly.com/group_relationships/AAAAAAAAAAAAAAAA","role":"member","owner":{"type":"OrganizationInvitation","uri":"https://api.calendly.com/organizations/AAAAAAAAAAAAAAAA/invitations/BBBBBBBBBBBBBBBB","organization":"https://api.calendly.com/organizations/AAAAAAAAAAAAAAAA","email":"test@example.com","status":"pending","created_at":"2019-08-07T06:05:04.321123Z","updated_at":"2019-01-02T03:04:05.678123Z","last_sent_at":"2019-01-02T03:04:05.678123Z"},"organization":"https://api.calendly.com/organizations/AAAAAAAAAAAAAAAA","group":"https://api.calendly.com/groups/AAAAAAAAAAAAAAAA","created_at":"2019-01-02T03:04:05.678123Z","updated_at":"2019-08-07T06:05:04.321123Z"}],"pagination":{"count":20,"next_page":"https://api.calendly.com/group_relationships?count=1\u0026page_token=sNjq4TvMDfUHEl7zHRR0k0E1PCEJWvdi","previous_page":"https://api.calendly.com/group_relationships?count=1\u0026page_token=VJs2rfDYeY8ahZpq0QI1O114LJkNjd7H","next_page_token":"sNjq4TvMDfUHEl7zHRR0k0E1PCEJWvdi","previous_page_token":"VJs2rfDYeY8ahZpq0QI1O114LJkNjd7H"}}}}}}},"400":{"$ref":"#/components/responses/INVALID_ARGUMENT"},"401":{"$ref":"#/components/responses/UNAUTHENTICATED"},"403":{"$ref":"#/components/responses/PERMISSION_DENIED_AND_SCOPES_FORBIDDEN"},"500":{"$ref":"#/components/responses/UNKNOWN"}}}},"/group_relationships/{uuid}":{"get":{"summary":"Get Group Relationship","description":"Returns a group relationship by uuid\n\n\u003CInfo title=\u0022Required scopes\u0022\u003E\n\u003E \u0060groups:read\u0060\n\u003C/Info\u003E","operationId":"get-group-relationship","tags":["Groups"],"security":[{"oauth2":[]},{"personal_access_token":[]}],"parameters":[{"name":"uuid","in":"path","required":true,"schema":{"type":"string","example":"AAAAAAAAAAAAAAAA"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","description":"Service response","properties":{"resource":{"$ref":"#/components/schemas/GroupRelationship"}},"required":["resource"]},"examples":{"OrganizationMembership":{"value":{"resource":{"uri":"https://api.calendly.com/group_relationships/AAAAAAAAAAAAAAAA","role":"member","owner":{"type":"OrganizationMembership","uri":"https://api.calendly.com/organization_memberships/AAAAAAAAAAAAAAAA","role":"user","user":{"uri":"https://api.calendly.com/users/AAAAAAAAAAAAAAAA","name":"John Doe","slug":"acmesales","email":"test@example.com","scheduling_url":"https://calendly.com/acmesales","timezone":"America/New York","time_notation":"12h","avatar_url":"https://01234567890.cloudfront.net/uploads/user/avatar/0123456/a1b2c3d4.png","locale":"en","created_at":"2019-01-02T03:04:05.678123Z","updated_at":"2019-08-07T06:05:04.321123Z"},"organization":"https://api.calendly.com/organizations/AAAAAAAAAAAAAAAA","updated_at":"2019-08-07T06:05:04.321123Z","created_at":"2019-01-02T03:04:05.678123Z"},"organization":"https://api.calendly.com/organizations/AAAAAAAAAAAAAAAA","group":"https://api.calendly.com/groups/AAAAAAAAAAAAAAAA","created_at":"2019-01-02T03:04:05.678123Z","updated_at":"2019-08-07T06:05:04.321123Z"}}},"OrganizationInvitation":{"value":{"resource":{"uri":"https://api.calendly.com/group_relationships/AAAAAAAAAAAAAAAA","role":"member","owner":{"type":"OrganizationInvitation","uri":"https://api.calendly.com/organizations/AAAAAAAAAAAAAAAA/invitations/BBBBBBBBBBBBBBBB","organization":"https://api.calendly.com/organizations/AAAAAAAAAAAAAAAA","email":"test@example.com","status":"pending","created_at":"2019-08-07T06:05:04.321123Z","updated_at":"2019-01-02T03:04:05.678123Z","last_sent_at":"2019-01-02T03:04:05.678123Z"},"organization":"https://api.calendly.com/organizations/AAAAAAAAAAAAAAAA","group":"https://api.calendly.com/groups/AAAAAAAAAAAAAAAA","created_at":"2019-01-02T03:04:05.678123Z","updated_at":"2019-08-07T06:05:04.321123Z"}}}}}}},"400":{"$ref":"#/components/responses/INVALID_ARGUMENT"},"401":{"$ref":"#/components/responses/UNAUTHENTICATED"},"403":{"$ref":"#/components/responses/PERMISSION_DENIED_AND_SCOPES_FORBIDDEN"},"404":{"$ref":"#/components/responses/NOT_FOUND"},"500":{"$ref":"#/components/responses/UNKNOWN"}}}},"/organizations/{uuid}":{"get":{"summary":"Get Organization","tags":["Organizations"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"resource":{"$ref":"#/components/schemas/Organization"}},"required":["resource"]}}}},"400":{"$ref":"#/components/responses/INVALID_ARGUMENT"},"401":{"$ref":"#/components/responses/UNAUTHENTICATED"},"403":{"$ref":"#/components/responses/PERMISSION_DENIED_AND_SCOPES_FORBIDDEN"},"404":{"$ref":"#/components/responses/NOT_FOUND"},"500":{"$ref":"#/components/responses/UNKNOWN"}},"operationId":"get-organization","description":"Returns the details of a specified Organization.\n\n\u003CInfo title=\u0022Required scopes\u0022\u003E\n\u003E \u0060organizations:read\u0060\n\u003C/Info\u003E","security":[{"oauth2":[]},{"personal_access_token":[]}]},"parameters":[{"schema":{"type":"string","example":"AAAAAAAAAAAAAAAA"},"name":"uuid","in":"path","required":true,"description":"The organization\u0027s unique identifier"}]},"/scheduled_events/{uuid}/cancellation":{"parameters":[{"schema":{"type":"string","example":"AAAAAAAAAAAAAAAA"},"name":"uuid","in":"path","required":true,"description":"The event\u0027s unique indentifier"}],"post":{"summary":"Cancel Event","tags":["Scheduled Events"],"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"type":"object","properties":{"resource":{"$ref":"#/components/schemas/Cancellation"}},"required":["resource"]},"examples":{"Cancel event request":{"value":{"resource":{"canceled_by":"John Smith","reason":"Something came up.","canceler_type":"host","created_at":"2019-01-02T03:04:05.678123Z"}}}}}}},"400":{"$ref":"#/components/responses/INVALID_ARGUMENT"},"401":{"$ref":"#/components/responses/UNAUTHENTICATED"},"403":{"$ref":"#/components/responses/DELETE_SCHEDULED_EVENT_AND_SCOPES_FORBIDDEN"},"404":{"$ref":"#/components/responses/NOT_FOUND"},"500":{"$ref":"#/components/responses/UNKNOWN"}},"operationId":"create-scheduled-event-cancellation","description":"Cancels specified event.\n\n\u003CInfo title=\u0022Required scopes\u0022\u003E\n\u003E \u0060scheduled_events:write\u0060\n\u003C/Info\u003E","security":[{"oauth2":[]},{"personal_access_token":[]}],"parameters":[],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"reason":{"type":"string","description":"Reason for cancellation","maxLength":10000}}},"examples":{"Cancel event request":{"value":{"reason":"Something came up."}}}}},"description":"Optional cancellation reason."}}},"/routing_forms":{"get":{"summary":"List Routing Forms","tags":["Routing Forms"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"collection":{"type":"array","items":{"$ref":"#/components/schemas/RoutingForm"}},"pagination":{"$ref":"#/components/schemas/Pagination"}},"required":["collection","pagination"]},"examples":{"Routing Forms":{"value":{"collection":[{"uri":"https://api.calendly.com/routing_forms/AAAAAAAAAAAAAAAA","organization":"https://api.calendly.com/organizations/AAAAAAAAAAAAAAAA","name":"ACME Demo","status":"published","questions":[{"uuid":"dddddddd-dddd-dddd-dddd-dddddddddddd","name":"What is your industry?","type":"select","required":true,"answer_choices":["IT \u0026 Software","Financial Services","Entertainment"]},{"uuid":"eeeeeeee-eeee-eeee-eeee-eeeeeeeeeeee","name":"Email","type":"email","required":true,"answer_choices":null}],"created_at":"2022-05-15T03:04:05.678Z","updated_at":"2022-05-15T06:05:04.321Z"}],"pagination":{"count":20,"next_page":"https://api.calendly.com/routing_forms?count=1\u0026page_token=d8T0LKQ1XsC2utmPlI7TFPpHX4SSfoGl","previous_page":"https://api.calendly.com/routing_forms?count=1\u0026page_token=VJs2rfDYeY8ahZpq0QI1O114LJkNjd7H","next_page_token":"d8T0LKQ1XsC2utmPlI7TFPpHX4SSfoGl","previous_page_token":"VJs2rfDYeY8ahZpq0QI1O114LJkNjd7H"}}}}}}},"400":{"$ref":"#/components/responses/INVALID_ARGUMENT"},"401":{"$ref":"#/components/responses/UNAUTHENTICATED"},"403":{"$ref":"#/components/responses/PERMISSION_DENIED_AND_SCOPES_FORBIDDEN"},"404":{"$ref":"#/components/responses/NOT_FOUND"},"500":{"$ref":"#/components/responses/UNKNOWN"}},"operationId":"list-routing-forms","description":"Get a list of Routing Forms for a specified Organization.\n\n\u003CInfo title=\u0022Required scopes\u0022\u003E\n\u003E \u0060routing_forms:read\u0060\n\u003C/Info\u003E","security":[{"oauth2":[]},{"personal_access_token":[]}],"parameters":[{"schema":{"type":"string","example":"https://api.calendly.com/organizations/AAAAAAAAAAAAAAAA","format":"uri"},"in":"query","name":"organization","description":"View organization routing forms associated with the organization\u0027s URI.","required":true},{"$ref":"#/components/parameters/Count"},{"$ref":"#/components/parameters/PageToken"},{"schema":{"type":"string","example":"created_at:asc"},"in":"query","name":"sort","description":"Order results by the specified field and direction. Accepts comma-separated list of {field}:{direction} values. Supported fields are: created_at. Sort direction is specified as: asc, desc."}]}},"/routing_forms/{uuid}":{"parameters":[{"schema":{"type":"string","example":"AAAAAAAAAAAAAAAA"},"name":"uuid","in":"path","required":true}],"get":{"summary":"Get Routing Form","tags":["Routing Forms"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"resource":{"$ref":"#/components/schemas/RoutingForm"}},"required":["resource"]},"examples":{"Routing Form":{"value":{"resource":{"uri":"https://api.calendly.com/routing_forms/AAAAAAAAAAAAAAAA","organization":"https://api.calendly.com/organizations/AAAAAAAAAAAAAAAA","name":"ACME Demo","status":"published","questions":[{"uuid":"dddddddd-dddd-dddd-dddd-dddddddddddd","name":"What is your industry?","type":"select","required":true,"answer_choices":["IT \u0026 Software","Financial Services","Entertainment"]},{"uuid":"eeeeeeee-eeee-eeee-eeee-eeeeeeeeeeee","name":"Email","type":"email","required":true,"answer_choices":null}],"created_at":"2022-05-15T03:04:05.678Z","updated_at":"2022-05-15T06:05:04.321Z"}}}}}}},"400":{"$ref":"#/components/responses/INVALID_ARGUMENT"},"401":{"$ref":"#/components/responses/UNAUTHENTICATED"},"403":{"$ref":"#/components/responses/PERMISSION_DENIED_AND_SCOPES_FORBIDDEN"},"404":{"$ref":"#/components/responses/NOT_FOUND"},"500":{"$ref":"#/components/responses/UNKNOWN"}},"operationId":"get-routing-form","security":[{"oauth2":[]},{"personal_access_token":[]}],"description":"Get a specified Routing Form.\n\n\u003CInfo title=\u0022Required scopes\u0022\u003E\n\u003E \u0060routing_forms:read\u0060\n\u003C/Info\u003E"}},"/routing_form_submissions":{"get":{"summary":"List Routing Form Submissions","tags":["Routing Forms"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"collection":{"type":"array","items":{"$ref":"#/components/schemas/RoutingFormSubmission"}},"pagination":{"$ref":"#/components/schemas/Pagination"}},"required":["collection","pagination"]},"examples":{"Routing Form Submissions":{"value":{"collection":[{"uri":"https://api.calendly.com/routing_form_submissions/AAAAAAAAAAAAAAAA","routing_form":"https://api.calendly.com/routing_forms/AAAAAAAAAAAAAAAA","questions_and_answers":[{"question_uuid":"dddddddd-dddd-dddd-dddd-dddddddddddd","question":"What is your industry?","answer":"IT \u0026 Software"}],"tracking":{"utm_campaign":null,"utm_source":null,"utm_medium":null,"utm_content":null,"utm_term":null,"salesforce_uuid":null},"result":{"type":"event_type","value":"https://api.calendly.com/event_types/AAAAAAAAAAAAAAAA"},"submitter":"https://calendly.com/scheduled_events/AAAAAAAAAAAAAAAA/invitees/AAAAAAAAAAAAAAAA","submitter_type":"Invitee","created_at":"2022-05-15T03:04:05.678Z","updated_at":"2022-05-15T06:05:04.321Z"}],"pagination":{"count":20,"next_page":"https://api.calendly.com/routing_form_submissions?count=1\u0026page_token=d8T0LKQ1XsC2utmPlI7TFPpHX4SSfoGl","previous_page":"https://api.calendly.com/routing_form_submissions?count=1\u0026page_token=VJs2rfDYeY8ahZpq0QI1O114LJkNjd7H","next_page_token":"d8T0LKQ1XsC2utmPlI7TFPpHX4SSfoGl","previous_page_token":"VJs2rfDYeY8ahZpq0QI1O114LJkNjd7H"}}}}}}},"400":{"$ref":"#/components/responses/INVALID_ARGUMENT"},"401":{"$ref":"#/components/responses/UNAUTHENTICATED"},"403":{"$ref":"#/components/responses/PERMISSION_DENIED_AND_SCOPES_FORBIDDEN"},"404":{"$ref":"#/components/responses/NOT_FOUND"},"500":{"$ref":"#/components/responses/UNKNOWN"}},"operationId":"list-routing-form-submissions","description":"Get a list of Routing Form Submissions for a specified Routing Form.\n\n\u003CInfo title=\u0022Required scopes\u0022\u003E\n\u003E \u0060routing_forms:read\u0060\n\u003C/Info\u003E","security":[{"oauth2":[]},{"personal_access_token":[]}],"parameters":[{"schema":{"type":"string","format":"uri","example":"https://api.calendly.com/routing_forms/AAAAAAAAAAAAAAAA"},"in":"query","name":"form","required":true,"description":"View routing form submissions associated with the routing form\u0027s URI."},{"$ref":"#/components/parameters/Count"},{"$ref":"#/components/parameters/PageToken"},{"schema":{"type":"string","example":"created_at:asc"},"in":"query","name":"sort","description":"Order results by the specified field and direction. Accepts comma-separated list of {field}:{direction} values. Supported fields are: created_at. Sort direction is specified as: asc, desc."}]}},"/routing_form_submissions/{uuid}":{"parameters":[{"schema":{"type":"string","example":"AAAAAAAAAAAAAAAA"},"name":"uuid","in":"path","required":true}],"get":{"summary":"Get Routing Form Submission","tags":["Routing Forms"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"resource":{"$ref":"#/components/schemas/RoutingFormSubmission"}},"required":["resource"]},"examples":{"Routing Form Submission":{"value":{"resource":{"uri":"https://api.calendly.com/routing_form_submissions/AAAAAAAAAAAAAAAA","routing_form":"https://api.calendly.com/routing_forms/AAAAAAAAAAAAAAAA","questions_and_answers":[{"question_uuid":"dddddddd-dddd-dddd-dddd-dddddddddddd","question":"What is your industry?","answer":"IT \u0026 Software"}],"tracking":{"utm_campaign":null,"utm_source":null,"utm_medium":null,"utm_content":null,"utm_term":null,"salesforce_uuid":null},"result":{"type":"event_type","value":"https://api.calendly.com/event_types/AAAAAAAAAAAAAAAA"},"submitter":"https://calendly.com/scheduled_events/AAAAAAAAAAAAAAAA/invitees/AAAAAAAAAAAAAAAA","submitter_type":"Invitee","created_at":"2022-05-15T03:04:05.678Z","updated_at":"2022-05-15T06:05:04.321Z"}}}}}}},"400":{"$ref":"#/components/responses/INVALID_ARGUMENT"},"401":{"$ref":"#/components/responses/UNAUTHENTICATED"},"403":{"$ref":"#/components/responses/PERMISSION_DENIED_AND_SCOPES_FORBIDDEN"},"404":{"$ref":"#/components/responses/NOT_FOUND"},"500":{"$ref":"#/components/responses/UNKNOWN"}},"operationId":"get-routing-form-submission","description":"Get a specified Routing Form Submission.\n\n\u003CInfo title=\u0022Required scopes\u0022\u003E\n\u003E \u0060routing_forms:read\u0060\n\u003C/Info\u003E","security":[{"oauth2":[]},{"personal_access_token":[]}]}},"/trials":{"get":{"summary":"List Trials","tags":["Trials"],"responses":{"200":{"description":"OK","headers":{},"content":{"application/json":{"schema":{"type":"object","properties":{"collection":{"type":"array","items":{"$ref":"#/components/schemas/Trial"}},"pagination":{"$ref":"#/components/schemas/Pagination"}},"required":["collection","pagination"]}}}},"400":{"$ref":"#/components/responses/INVALID_ARGUMENT"},"401":{"$ref":"#/components/responses/UNAUTHENTICATED"},"403":{"$ref":"#/components/responses/PERMISSION_DENIED"},"404":{"$ref":"#/components/responses/NOT_FOUND"}},"operationId":"list-trials","description":"Returns all Trials associated with a specified Organization.","parameters":[{"schema":{"type":"string","format":"uri","example":"https://api.calendly.com/organizations/AAAAAAAAAAAAAAAA"},"in":"query","name":"organization","description":"Indicates if the results should be filtered by organization","required":true},{"schema":{"type":"string","default":"created_at:desc"},"in":"query","name":"sort","description":"Order results by the specified field and direction. Accepts comma-separated list of {field}:{direction} values. Supported fields are: created_at, ends_at. Sort direction is specified as: asc, desc."},{"$ref":"#/components/parameters/Count"},{"$ref":"#/components/parameters/PageToken"}],"x-fern-ignore":true}},"/subscriptions":{"get":{"summary":"List Subscriptions","tags":["Subscriptions"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"collection":{"type":"array","items":{"$ref":"#/components/schemas/Subscription"}},"pagination":{"$ref":"#/components/schemas/Pagination"}},"required":["collection","pagination"]}}}},"400":{"$ref":"#/components/responses/INVALID_ARGUMENT"},"401":{"$ref":"#/components/responses/UNAUTHENTICATED"},"403":{"$ref":"#/components/responses/PERMISSION_DENIED"},"404":{"$ref":"#/components/responses/NOT_FOUND"}},"operationId":"list-subscriptions","description":"Returns a list of subscriptions.","parameters":[{"schema":{"type":"string","example":"https://api.calendly.com/organizations/AAAAAAAAAAAAAAAA","format":"uri"},"in":"query","name":"organization","description":"Organization with which these subscriptions are associated.","required":true},{"schema":{"type":"string","default":"created_at:desc"},"in":"query","name":"sort","description":"Order results by the specified field and direction. Accepts comma-separated list of {field}:{direction} values. Supported fields are: created_at. Sort direction is specified as: asc, desc."},{"$ref":"#/components/parameters/Count"},{"$ref":"#/components/parameters/PageToken"}],"x-fern-ignore":true}},"/super_admin_roles":{"get":{"summary":"Get Super Admin Roles","responses":{"200":{"description":"OK","headers":{},"content":{"application/json":{"schema":{"type":"object","properties":{"collection":{"type":"array","items":{"$ref":"#/components/schemas/SuperAdminRole"}},"pagination":{"$ref":"#/components/schemas/Pagination"}},"required":["collection","pagination"],"readOnly":true},"examples":{"Super admin roles":{"value":{"collection":[{"created_at":"2022-05-09T18:52:57.959679Z","permissions":["view_events","pretend"],"supervisor":true,"updated_at":"2022-05-09T18:52:57.959679Z"}],"pagination":{"count":20,"next_page":"https://api.calendly.com/super_admin_roles?page_token=sNjq4TvMDfUHEl7zHRR0k0E1PCEJWvdi","next_page_token":"sNjq4TvMDfUHEl7zHRR0k0E1PCEJWvdi","previous_page":"https://api.calendly.com/super_admin_roles?page_token=dGhpcyBpcyBvbmx5IGFuIGV4YW1wbGUgc3RyaW5n","previous_page_token":"dGhpcyBpcyBvbmx5IGFuIGV4YW1wbGUgc3RyaW5n"}}}}}}},"400":{"$ref":"#/components/responses/INVALID_ARGUMENT"},"401":{"$ref":"#/components/responses/UNAUTHENTICATED"},"403":{"$ref":"#/components/responses/PERMISSION_DENIED"},"404":{"$ref":"#/components/re
[...]
